		<div class="onecol">
			<h1>Campuses &amp; Worship Times</h1>
		</div>
		
		<div class="onecol">
			<div id="story_menu">
					<ul id="story_menunav">
						<li id="story_menunav"><a href="/campuses" class="sub-current">Campuses Main</a></li>
						<li id="story_menunav"><a href="/campuses/downtown">Downtown</a></li>
						<li id="story_menunav"><a href="/campuses/stjohn">St. John</a></li>
						<li id="story_menunav"><a href="/campuses/west">West</a></li>				
					</ul>
			</div> <!-- /story_menu -->
		</div><!--/onecol-->
		
		<div style="clear:both;"></div>
		<div class="bump">&nbsp;</div>
		
		<div class="onecol nomar">
			<p>We have worship services each week at our Downtown, St. John and West Campuses. <br>Each campus has its own unique feel, and we invite you to join us in worshipping at one of them.</p>
		</div>

		<div class="threecol_2">
			<iframe style="border:5px solid #fff;" src="http://player.vimeo.com/video/39703660?title=0&amp;byline=0&amp;portrait=0&amp;color=ffdd00" width="610" height="343" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		</div>
		
		<div class="threecol">
			<iframe style="border:5px solid #fff;" width="290" height="343" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?msa=0&amp;msid=211619950205743684538.0004ac723e8f4066d630e&amp;ie=UTF8&amp;t=m&amp;ll=30.315395,-97.740555&amp;spn=0.101657,0.09922&amp;z=12&amp;output=embed"></iframe><br />
			
			<h3 class="grey" style="text-align:center;"><a href="http://maps.google.com/maps/ms?msa=0&amp;msid=211619950205743684538.0004ac723e8f4066d630e&amp;ie=UTF8&amp;t=m&amp;ll=30.315395,-97.740555&amp;spn=0.101657,0.09922&amp;z=12&amp;source=embed" style="color:#424242;">View Larger Map</a></h3>
		</div>
		
		<div style="clear:both"></div>
		
		<div class="times-box">
			<h1 class="blue nomar nocap">Downtown Campus</h1>
			<h3 class="grey nocap">1715 W. Caesar Chavez, Austin, TX 78703</h3>
			
			<div class="worship-time">
				<h2>9:00</h2>
			</div>
			
			<div class="worship-time" style="margin-left:10px;">
				<h2>11:15</h2>
			</div>
			
			<div class="worship-time" style="margin-left:10px;">
				<h2>5:00</h2>
			</div>
			
			<div class="worship-time" style="margin-left:10px;">
				<h2>7:00</h2>
			</div>
			
			<p>After outgrowing our initial space at Fulmore Middle School, The Austin Stone Community Church decided to move to Austin High School to accommodate for growth. The Downtown Campus remains our largest campus and meets right in the heart of downtown Austin.</p>
			
			<p>We offer four services; the 9am, 11:15am and 7pm services include live preaching, while the 5pm service is a video service. All services feature live worship. The Downtown Campus is primarily made up of families, singles and college students from central and south Austin.</p>
			
			<a href="/design/campuses/downtown.php" class="campus-link">
				<h2>Visit Downtown Page</h2>
			</a>
		</div>
		
		<div class="times-box">
			<h1 class="blue nomar nocap">St. John Campus</h1>
			<h3 class="grey nocap">500 E. St. Johns Ave., Austin, TX 78752</h3>
			
			<div class="worship-time">
				<h2>9:15</h2>
			</div>
			
			<div class="worship-time" style="margin-left:10px;">
				<h2>11:15</h2>
			</div>
			
			<div class="worship-time" style="margin-left:10px;">
				<h2>5:00</h2>
			</div>
			
			<div class="worship-time" style="margin-left:10px;">
				<h2>7:00</h2>
			</div>
			
			<p>Our St. John Campus was purposefully built to serve the St. John neighborhood. This permanent campus shares a space with <a href="http://forthecity.org">The For the City Network</a> where non-profit organizations work alongside the church for efforts of restoration and renewal of the area.</p>
			
			<p>All four services at the St. John Campus are video services featuring live worship. This campus is primarily made up of families, singles and students from central and north Austin, and the northern suburbs.</p>
			
			<a href="/design/campuses/stjohn.php" class="campus-link">
				<h2>Visit St. John Page</h2>
			</a>
		</div>
		
		<div class="times-box">
			<h1 class="blue nomar nocap">West Campus</h1>
			<h3 class="grey nocap">2610 W. 10th St., Austin, TX 78703</h3>
			
			<div class="worship-time">
				<h2>10:00</h2>
			</div>
			
			<div style="clear:both"></div>
			
			<p>West Campus meets at O. Henry Middle School in the Tarrytown neighborhood. Prior to becoming our West Campus, Austin Bible Fellowship met at this location. Recognizing a similar vision for the renewal and restoration of the city of Austin, Austin Bible joined The Austin Stone to become our West Campus location.</p>
			
			<p>We currently have one video service at 10am at the West Campus. This service also features live worship. This campus is primarily made up of families and singles from west, southwest and central Austin.</p>
			
			<a href="/design/campuses/west.php" class="campus-link">
				<h2>Visit West Page</h2>
			</a>
		</div>		
		
		<div class="onecol"><div class="rule_wh"></div></div><!--/\/\/\rule/\/\/\-->
		
		<div class="threecol_2">
			<h2 class="twenty">On Sundays</h2>
			<p>Sundays are a great time to gather together for worship, and we want to make sure you’re able to easily find your way around each campus. Here are a few hints to help navigate our Sunday morning services.</p>
		</div>
		<div style="clear:both;"></div>

		<div class="twocol">
			<img src="../images/sunday_signs.png" width="70" height="70" style="float:left;margin:0 20px 70px 0;" />
			<h2 class="nomar blue">Follow The Signs</h2>
			<p>We've setup directional signage throughout our campuses to help you find your way. If you arrive early, follow the arrows to the <em>Welcome Center</em> &ndash; it's a good place to hang out until the service starts. We provide coffee at each campus, and friendly volunteers are available to answer any questions you have.</p>
			
			<div class="bump"></div>
			
			<img src="../images/sunday_welcome.png" width="70" height="70" style="float:left;margin:0 20px 40px 0;" />
			<h2 class="nomar blue">Welcome Team</h2>
			<p>We desire for our church culture to be welcoming and warm, and our welcome team members lead in creating that culture. They are walking knowledge banks, able to help you find your way and answer questions. Look for a smiling face attached to a name tag; they would love to meet you!</p>
			
			<div class="bump"></div>			
			
			<img src="../images/sunday_coffee.png" width="70" height="70" style="float:left;margin:0 20px 20px 0;" />
			<h2 class="nomar blue">Coffee</h2>
			<p>We serve coffee each Sunday made by a local coffee shop and non-profit partner of the Austin Stone. Pick up a cup in the Welcome Center before the service.</p>			
		</div>
		
		<div class="twocol">
			<img src="../images/sunday_tr.png" width="70" height="70" style="float:left;margin:0 20px 40px 0;" />
			<h2 class="nomar blue">TeenRock</h2>
			<p>If your child is between 6th&ndash;12th grade, make sure to check out our TeenRock ministry. At all of our campuses, TeenRock holds its own worship service with teaching that is specifically intended for all teens navigating this important and unique stage of life.</p>
			
			<div class="bump"></div>
			
			<img src="../images/sunday_ks.png" width="70" height="70" style="float:left;margin:0 20px 70px 0;" />
			<h2 class="nomar blue">Kidstuff</h2>
			<p>At The Austin Stone, rather than simply babysitting, we believe in actively teaching your children and supporting your leadership as parents. If you have  a child between the ages of 8 weeks to the 5th grade, follow the signs to the KidStuff check-in area. Our KidStuff staff would love to meet you and tell you about what we provide for your kids.</p>
		</div>	