<script>
    $(function(){
        $('.caption').click(function(){
            var obj = $(this).parents('.campus');
            if ($(obj).hasClass('expanded')) {
                $(obj).removeClass('expanded');
                $('.parking',obj).slideUp('slow');					
                $(this).text('Parking Map');
            } else {
                $(obj).addClass('expanded');
                $('.parking',obj).slideDown('slow');
                $(this).text('Hide Map');
            }
            return false;
        });
    });
</script>


<div class="onecol">

    <h1>Worship Times &amp; Locations</h1>
</div>

<div class="fivecol_3 nomar">
    <p>We have worship services each week at our Downtown, St. John and West Campuses. We invite you to join us at one of our three campuses across Austin.</p>
</div>

<div style="clear:both"></div>	

<div class="fivecol_4">

    <iframe width="738" height="365" frameborder="0" scrolling="no" marginheight="0" style="border: 5px solid #fff;" marginwidth="0" src="http://maps.google.com/maps/ms?msa=0&amp;msid=211619950205743684538.000465cb9adf20f58d81e&amp;ie=UTF8&amp;vpsrc=0&amp;source=embed&amp;ll=30.313617,-97.738838&amp;spn=0.108179,0.253370&amp;z=12&amp;output=embed"></iframe>
</div>

<div class="fivecol">
    <h2 class="twenty">Join Us</h2>
    <h4 class="caps blue nomar">Downtown Campus</h4>
    <p>1715 W. Caesar Chavez<br>
			Austin, TX 78703</p>

    <h4 class="caps blue nomar">St. John Campus</h4>
    <p>500 E. St. Johns Ave.<br>
			Austin, TX 78752</p>
    <h4 class="caps blue nomar">West Campus</h4>
    <p>2610 W. 10th St.<br>
			Austin, TX 78703</p>

</div>

<div class="onecol">
    <div class="bump"></div><!--/\/\/\/bump/\/\/\/\/\-->
</div>

<div class="fivecol_2">
    <div class="campus">
        <h2 class="blue">Downtown Campus</h2>
        <p class="">Our Downtown Campus is located on 1715 W. Cesar Chavez at Austin High School. After outgrowing our initial space at Fulmore Middle School, The Austin Stone Community Church decided to move to Austin High School to accommodate for growth. This campus has four services, is our largest campus, and meets in the gymnasium of the high school.</p>
        <div class="hot_fivecol_2">

            <h2 class="nocap">9:00 &nbsp;&nbsp;11:15 &nbsp;&nbsp;5:00 &nbsp;&nbsp;7:00</h2>
            <div class="parking_button"><p class="caption caps">Parking Map</p></div>
        </div>
        <div class="parking_drop"></div>
        <div class="parking">
            <iframe width="354" height="275" style="border:5px solid #fff;" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?msa=0&amp;ie=UTF8&amp;t=h&amp;vpsrc=6&amp;msid=211619950205743684538.000465cbc85bf70f9f658&amp;ll=30.27621,-97.771025&amp;spn=0.005096,0.007575&amp;z=16&amp;output=embed"></iframe>
        </div>
    </div>

    <div style="clear:both;"></div>
    <div class="bumpbump">&nbsp;</div><!--/\/\/\/bump/\/\/\/\/\-->

    <div class="campus">
        <h2 class="blue">West Campus</h2>

        <p>Our West Campus is located on 2610 W. 10th Street at O. Henry Middle School. Prior to becoming our West campus, Austin Bible Fellowship met here. Because of a similar vision for the renewal and restoration of the City of Austin, Austin Bible joined The Austin Stone to become our West Campus. This campus has one service and meets in the gymnasium of the middle school.</p>
        <div class="hot_fivecol_2">
            <h2>10:00</h2>
            <div class="parking_button"><p class="caption caps">Parking Map</p></div>
        </div>					
        <div class="parking_drop"></div>
        <div class="parking">
            <iframe width="354" height="275" style="border:5px solid #fff;" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?msa=0&amp;hl=en&amp;ie=UTF8&amp;t=h&amp;vpsrc=6&amp;msid=211619950205743684538.0004aabacc3ce410a50fe&amp;ll=30.286438,-97.775284&amp;spn=0.002548,0.003787&amp;z=17&amp;output=embed"></iframe>
        </div>
    </div>
</div><!--/campus_left-->				



<div class="fivecol_2">
    <div class="campus">
        <h2 class="blue">St. John Campus</h2>

        <p>Our St. John Campus is located on 500 E. St. Johns Avenue at The For the City Center and has four Sunday services. This campus was purposefully built to serve the St. John neighborhood. This permanent campus shares a space with The For the City Network where non-profit organizations work alongside the church for efforts of restoration and renewal of the area.</p>
        <div class="hot_fivecol_2">
            <h2>9:15 &nbsp;&nbsp;11:15 &nbsp;&nbsp;5:00 &nbsp;&nbsp;7:00</h2>
            <div class="parking_button"><p class="caption caps">Parking Map</p></div>
        </div>
        <div class="parking_drop"></div>
        <div class="parking">
            <iframe width="354" height="275" style="border:5px solid #fff;" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?msa=0&amp;msid=211619950205743684538.00048f106a10bb428801c&amp;ie=UTF8&amp;t=h&amp;vpsrc=6&amp;ll=30.336676,-97.709291&amp;spn=0.005093,0.007575&amp;z=16&amp;output=embed"></iframe>
        </div>
    </div>

    <div style="clear:both;"></div>

    <div class="bumpbump">&nbsp;</div><!--/\/\/\/bump/\/\/\/\/\-->

    <div class="fivecol_2_kstr">
        <h2 class="white">Kidstuff &amp; TeenRock</h2>
        <div class="kstr_left">
            <h4 class="nomar yellow caps">Downtown:</h4>
            <p class="sans white">KidStuff: 9:00a, 11:15a, 5:00p<br>

					TeenRock JRHI: 9:00a<br>
                                        <br></p>

            <h4 class="nomar yellow caps">West:</h4>
            <p class="sans white">KidStuff: 10:00<br>
					TeenRock (both): 10:00</p>
        </div>

        <div class="kstr_right">
            <h4 class="nomar yellow caps">St. John:</h4>
            <p class="sans white">KidStuff: 9:00a, 11:15a, 5:00p<br>
					TeenRock JRHI: 11:15a</p>
            <p class="nomar sans yellow">The is no KidStuff or TeenRock programs during the 7:00 services, but childcare is available.</p>
        </div>
    </div><!--kidstuff-teenrock-->

</div><!--/campus_right-->		

<div style="clear:both;"></div>
<div class="onecol"><div class="rule_wh"></div></div><!--/\/\/\rule/\/\/\-->

<div class="threecol_2">
    <h2 class="twenty">On Sundays</h2>
    <p>Sunday&rsquo;s are a great time to gather together for worship, but if you're new, they can be daunting. 
        <br>Here are a few hints to help navigate our Sunday morning services.</p>
</div>

<div style="clear:both;"></div>

<div class="twocol">
    <img src="images/sunday_signs.png" width="70" height="70" style="float:left;margin:0 20px 20px 0;" />
    <h2 class="nomar blue">Follow The Signs</h2>
    <p>We've setup directional signage throughout our campuses to help you find your way. If you arrive early, follow the arrows to the <em>Welcome Center</em> &ndash; it's a good place to hang out until the service starts.</p>


    <div class="bump"></div>

    <img src="images/sunday_welcome.png" width="70" height="70" style="float:left;margin:0 20px 20px 0;" />
    <h2 class="nomar blue">Welcome Team</h2>
    <p>Our welcome team members are walking knowledge banks who are there to help you find your way and answer questions. Look for a name tag, introduce yourself, and ask away.</p>			
</div>

<div class="twocol">
    <img src="images/sunday_ks.png" width="70" height="70" style="float:left;margin:0 20px 20px 0;" />
    <h2 class="nomar blue">Kidstuff</h2>

    <p>If you've got a child who is a 5th grade or under, follow the signs to the KidStuff check-in area. Our KidStuff staff would love to meet you and tell you about what we have on Sundays for your kids.</p>

    <div class="bump"></div>			

    <img src="images/sunday_coffee.png" width="70" height="70" style="float:left;margin:0 20px 20px 0;" />
    <h2 class="nomar blue">Coffee</h2>
    <p>We serve coffee each Sunday. Pick up a cup in the Welcome Center before the service.</p>							
</div>

<div style="clear:both;"></div>
<div class="onecol"><div class="rule_wh"></div></div><!--/\/\/\rule/\/\/\-->

<div class="threecol_2">
<h2 id="tuesday" class="twenty">On The First Tuesday Of Each Month</h2>
</div>

<div style="clear: both;"></div>
<div class="twocol">
<h2 class="blue">March 6 | 7pm | St. John Campus</h2>
<p>Join us once a month for our First Tuesday prayer service, where we spend time together as a church body praying for God to do great things in our lives and throughout the world. It's always an awesome time of worship and prayer.</p>
</div>
<div class="fivecol_4"><iframe src="http://maps.google.com/maps/ms?msa=0&amp;msid=211619950205743684538.000465cb9adf20f58d81e&amp;ie=UTF8&amp;vpsrc=0&amp;source=embed&amp;t=m&amp;f=d&amp;daddr=St.+John+Campus+%4030.334202,-97.706646&amp;ll=30.366951,-97.706566&amp;spn=0.10812,0.253029&amp;z=12&amp;iwloc=0004ac605d0f0e22f06fe&amp;output=embed" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" width="738" height="365" style="border: 5px solid #fff;"></iframe></div>