                                                	
            <div class="onecol">

            <h1>Missional Community</h1>
        </div>

        <div class="twocol nomar">
            <p>The Austin Stone is a network of missional communities – small groups of people, joined by the gospel, pursuing the renewal and redemption of their community together. Missional community is the primary way to connect with others at The Austin Stone and pursue life on mission together.</p>
            
            <h2 class="nomar blue">MC Vision:</h2>
            <blockquote>Missional Communities exist for the purpose of making much of Jesus through loving and serving unbelievers, the poor, and the nations.</blockquote>

        </div> 
        
        <div class="twocol">
            <img src="/images/mc.jpg" width="450" height="261" style="border: 5px solid #fff;" alt="Missional Community"/>
        </div>
        
        <div style="clear:both"></div>                            
        
        <div class="onecol"><div class="rule_wh"></div></div><!--/\/\/\rule/\/\/\-->
        <div class="onecol">
            <h2 class="nomar blue">Get Connected</h2>
        </div>

    
        <div class="twocol">
            <p>Missional Community is at the heart of living out the mission and vision that God has given The Austin Stone. We cannot do what God has called us to do alone. Jesus calls His people to live in community, living life together as we seek to share the gospel with our friends, neighbors, coworkers and city.</p>
        </div>
        <div class="twocol">
            <p>We want to be a movement: we want to be rapidly growing, dynamic, multiplying disciples &ndash; just like the early church. To do this, every believer has to get involved in the mission.</p>
        </div>    

        <div class="onecol"><div class="rule_wh"></div></div><!--/\/\/\rule/\/\/\-->

        
        <div class="onecol">
            <h2 class="blue">What To Do Next:</h2>
        </div>
        
        <div class="fourcol">
            <a href="https://austinstone.onthecity.org/kiosk/" class="hot_left"><h2>Connect</h2></a>
            <p>The first step in getting connected at The Austin Stone is to fill out <a href="https://austinstone.onthecity.org/kiosk/">this short form</a>. Someone from our Connections Team will contact you to help get you more involved at The Austin Stone.</p>
        </div>
        
        <div class="fourcol">
            <a href="/connect/current-happenings" class="hot_left"><h2>MC Training</h2></a>
            <p>If you are in a group already or simply want to learn more about missional communities, our Missional Community Training is a great place to get started.</p> 
            <p>The purpose of missional community training is to train and equip people with the philosophy behind and the fundamentals of leading an effective, gospel-centered missional community.</p> 
            <p>This class is open to anyone interested in learning more. It spans four weeks. Check our <a href="/connect/current-happenings">Current Happenings</a> page occasionally to find out details about when the next class is offered.</p>

        </div>
        
        <div class="fourcol">
            <a href="/connect/classes" class="hot_left"><h2>On Ramp Classes</h2></a>
            <p>We offer On Ramp Classes during our fall and spring Get Trained class semester for anyone looking to get connected in The Austin Stone. In taking one of these classes, you will be put into a group that will be your community throughout the class.</p> 
            <p>Many of these groups continue on to become missional communities once the semester is over. For class information, please visit our <a href="/connect/classes">Classes page</a>.</p>
        </div>
    
        <div class="fourcol">

            <a href="https://theaustinstone.wufoo.com/forms/connect-me-to-the-city/" class="hot_left"><h2><em>The City</em></h2></a>
            <p>Open to everyone, <em>The City</em> is a unique web-based platform that allows you to connect with other people in our church in a secure environment. It is a primary way we encourage and support community, communication, and personal and spiritual development throughout the week.</p> 
            <p>On <em>The City</em>, you can find a missional community, share prayer requests, see what's happening in our church this week, find a place to serve or access our <a href="/resources/bible-reading-plan">REAP Bible reading plan</a>. You can even plan an event and invite your friends!
            <p>To create an account on <em>The City</em>,<br><a href="https://austinstone.onthecity.org/kiosk/">sign up here</a>.</p>

        </div>   