<script>
    $(function(){
        $('.caption').click(function(){
            var obj = $(this).parents('.threecol');
            if ($(obj).hasClass('expanded')) {
                $(obj).removeClass('expanded');
                $('.parking',obj).slideUp('slow');					
                $(this).text('Parking Map');
            } else {
                $(obj).addClass('expanded');
                $('.parking',obj).slideDown('slow');
                $(this).text('Hide Map');
            }
            return false;
        });
    });
</script>

<div class="onecol">

    <h1>New Here</h1>
</div>

<div class="fivecol_2 nomar">
    <p>The Austin Stone is a church for the city. Beyond a weekly gathering, we are a community that centers on the person and mission of Jesus Christ. </p>
    <p>We're actively working to build a great Austin, renewed and redeemed by the gospel. You can read more about <a href="/about/identity-beliefs">our vision</a>. To get to know us, check out one of our Sunday <a href="/about/times-locations">worship services</a>. </p>  

    <a href="/about/times-locations" class="hot_threecol nomar"><h2>Our Campuses / Worship Times</h2></a>
</div>


<div class="fivecol_3">
    <iframe width="546" height="350" frameborder="0" scrolling="no" marginheight="0" style="border: 5px solid #fff;" marginwidth="0" src="http://maps.google.com/maps/ms?msa=0&amp;msid=211619950205743684538.000465cb9adf20f58d81e&amp;ie=UTF8&amp;vpsrc=0&amp;source=embed&amp;ll=30.313617,-97.738838&amp;spn=0.103734,0.187454&amp;z=12&amp;output=embed"></iframe>
</div>

<div class="onecol">
    <div class="rule_wh">&nbsp;</div>
</div>

<div class="threecol">
    <div class="hot_new_here">

        <a href=""><div class="parking_button"><p class="caption caps">Parking Map</p></div></a>
        <h2>Downtown Campus</h2>
        <h3>9:00 &nbsp;&nbsp;11:15 &nbsp;&nbsp;5:00 &nbsp;&nbsp;7:00</h3>
    </div>
    <div class="parking">
        <iframe width="290" height="275" style="border:5px solid #fff;" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;t=h&amp;msa=0&amp;msid=211619950205743684538.000465cbc85bf70f9f658&amp;source=embed&amp;vpsrc=6&amp;ll=30.275543,-97.770145&amp;spn=0.005096,0.006201&amp;z=16&amp;output=embed"></iframe>
    </div>
</div><!--/downtown-campus-->

<div class="threecol">

    <div class="hot_new_here">
        <a href=""><div class="parking_button"><p class="caption caps">Parking Map</p></div></a>
        <h2>St. John Campus</h2>
        <h3>9:15 &nbsp;&nbsp;11:15 &nbsp;&nbsp;5:00 &nbsp;&nbsp;7:00</h3>
    </div>	
    <div class="parking">
        <iframe width="290" height="275" style="border:5px solid #fff;" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?msa=0&amp;msid=211619950205743684538.00048f106a10bb428801c&amp;hl=en&amp;ie=UTF8&amp;t=h&amp;vpsrc=6&amp;ll=30.337732,-97.708347&amp;spn=0.005093,0.006201&amp;z=16&amp;output=embed"></iframe>
    </div>
</div><!--/st-john-campus-->


<div class="threecol">
    <div class="hot_new_here">
        <a href="" class="parking_button"><p class="caption caps">Parking Map</p></a>
        <h2>West Campus</h2>
        <h3>10:00</h3>
    </div>	
    <div class="parking">
        <iframe width="290" height="275" style="border:5px solid #fff;" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?msa=0&amp;hl=en&amp;ie=UTF8&amp;t=h&amp;vpsrc=6&amp;msid=211619950205743684538.0004aabacc3ce410a50fe&amp;ll=30.286327,-97.774501&amp;spn=0.002548,0.003101&amp;z=17&amp;output=embed"></iframe>
    </div>
</div><!--/west-campus-->

<div class="onecol">

    <div class="rule_wh">&nbsp;</div>
</div>

<div class="onecol">
    <h2 class="twenty">WAYS TO FIND OUT MORE ABOUT US, MEET OTHER PEOPLE, AND GET INVOLVED</h2>
</div>

<div class="twocol">
    <h2 class="nomar blue">For Jesus</h2>
    <p>For us, everything starts and ends with Jesus. If you are still figuring out who He is and what that means, <a href="/about/times-locations">Sunday services</a> and <a href="/connect/missional-community">missional communities</a> are both great places to consider and explore.</p>

    <h2 class="nomar blue">Service Opportunities</h2>
    <p>From welcoming others at a Sunday service to volunteering with us at a local non-profit, serving at The Austin Stone is a great way to get involved. <a href="/connect/current-happenings">See our current list of opportunities</a> and try out a few.</p>
    <h2 class="nomar blue">Identities &amp; Beliefs</h2>
    <p>Taking part in any of the above is a great way to find out more about who we are and what we believe. As a quick reference, we also have our core beliefs, values, and mission <a href="/about/core-values">available here</a>.</p>
</div>

<div class="twocol">
    <h2 class="nomar blue">Missional Communities</h2>
    <p>The Austin Stone is a network of missional communities &ndash; small groups of people, joined by the gospel, pursuing the renewal and redemption of their community together. Missional community is the primary way to connect with others at The Austin Stone and pursue life on mission together. <a href="/connect/missional-community">Find out more about missional community</a> at The Austin Stone, or fill out <a href="https://theaustinstone.wufoo.com/forms/get-connected-to-missional-community/">this short form</a> and we'll help you get connected with one near you.</p>

    <h2 class="nomar blue">What else is going on?</h2>
    <p>In addition to the above, we often have things like prayer services, forums, and other church-wide events going on. Check out our <a href="/connect/current-happenings">&ldquo;Current Happenings&rdquo;</a> page for the latest.</p>
    <p>Need help getting connected? <a href="mailto:info@austinstone.org">Email us</a>.</p>
    <h2 class="nomar blue"><em>The City</em></h2>

    <p>We know it can be a little bit difficult to navigate our church if you're new, and so we created on centralized connection hub to make it easier. If you decide to make The Austin Stone your church home, we highly encourage you to join <em><a href="https://austinstone.onthecity.org/">The City</a></em>. <em>The City</em> is a unique web-based platform that allows you to connect with other people in our church in a secure environment. It is a primary way we encourage and support community, communication, and personal and spiritual development throughout the week. <a href="https://theaustinstone.wufoo.com/forms/connect-me-to-the-city/">Create an account</a> on <em>The City</em>.</p>
</div>

