<div class="onecol">
    <h1>Partnership at The Austin Stone</h1>
</div>

<div class="threecol_2 nomar">
    <h2 class="nomar blue">What Is Partnership?</h2>

    <p>Partnership at The Austin Stone is a commitment to live out our identity and calling as the lead missionaries and lead servants of our church.  It is both and invitation and a commitment to fully pursue the joy of Jesus and the abundant life He promises to us together, for our city and for the nations.</p>
    <h2 class="nomar blue">Partnership Commitments</h2>
    <p>Partners are the saints of God who do the work of ministry, and partnership is a commitment to missional living with the local body of believers. We call these men and women &ldquo;partners&rdquo; rather than &ldquo;members,&rdquo; because we think that word more clearly describes the heart of the New Testament (Ephesians 4:11&ndash;14).  We call our partners to a higher level of accountability, service and sacrifice than attenders. We ask a lot of our partners, because we believe that God is using them, and our church, to do amazing things for His Kingdom in our city.</p>
    <a href="files/partnership_commitments.pdf" class="hot_threecol"><h2>Our Partnership Commitments</h2></a>

    <div style="clear:both;"></div>
    <div class="bump">&nbsp;</div>	

    <h2 class="nomar blue">How Do I Become A Partner?</h2>
    <ul class="bullet">
        <li>Partnership classes are held regularly throughout the year. If you'd like to receive information about upcoming partnership classes, please <a href="https://theaustinstone.wufoo.com/forms/partnership-interest-sign-up/">sign up here</a>.</li>
        <li>If you desire to become a partner, we encourage you to first get involved in a missional community. <a href="https://theaustinstone.wufoo.com/forms/get-connected-to-missional-community/">Find a group</a>.</li>

        <li>We also encourage you to join a service team. There are many opportunities to choose from, both inside and outside of The Austin Stone. <a href="/connect/current-happenings">Sign up to serve</a>.</li>
    </ul>	
    <p></p>
</div><!--/threecol_2-->

<div class="threecol">
    <div class="partner_class">
        <h2 class="blue" style="text-align:center;">Next Partnership Class</h2>

        <!--<div class="rule_partner"></div>-->
        <h2 class="jumbo">XX</h2>
        <h3 class="month_partner">TBD</h3>
    </div>
    <!--<a href="https://theaustinstone.wufoo.com/forms/partnership-interest-sign-up/" class="hot_threecol" style="margin-top:15px;"><h2>Partnership Interest Sign Up</h2></a>-->
    <!--<a href="https://theaustinstone.wufoo.com/forms/partnership-class-february-18th-2012/" class="hot_threecol" style="margin-top:15px;"><h2>Sign Up For The Class</h2></a>-->
</div>


<div class="onecol"><div class="rule_wh"></div></div><!--/\/\/\rule/\/\/\-->


<div class="threecol">

    <h2 class="twenty nomar">Partnership Resources</h2>
    <p>If you have any questions about Partnership at The Austin Stone, please email <a href="mailto:todd@austinstone.org">Todd Engstrom</a>, Pastor of Missional Communities.</p>
</div>

<div class="threecol">
    <h3 class="nomar blue">Missional Communities</h3>
    <p class="nomar">We ask every partner to participate in missional community with The Austin Stone. <a href="/connect/missional-community">Find out more about Missional Community</a>.</p>

    <div class="rule_wh_short"></div>

    <h3 class="nomar blue">Affirmation of Faith</h3>
    <p>We Affirm that the Bible is the Word of God, fully inspired and without error in the original manuscripts, written by men under the inspiration of the Holy Spirit, and that it has supreme authority in all matters of faith and conduct&hellip;</p>
    <a href="files/ASCC-affirmation-of-faith.pdf" class="hot_threecol"><h2>Read Our Affirmation of Faith</h2></a>				

    <div class="rule_wh_short"></div>

    <h3 class="nomar blue">Finances&ndash;Money Matters Series</h3>

    <p>The Money Matters Series is about Jesus' radical liberation of our love of money and our fear of being without. You can listen to the entire series on our <a href="">sermons page.</p>

    <a href="files/money-matters-booklet.pdf" class="hot_threecol"><h2>Finances Discussion Guide</h2></a>						
</div><!--/threecol-->

<div class="threecol">
    <h3 class="nomar blue">What is Baptism?</h3>
    <p>The Austin Stone Community Church believes that Jesus commanded believers to be baptized in order to publicly show the work of salvation that Christ has accomplished in their hearts&hellip;</p>

    <a href="files/what-is-baptism.pdf" class="hot_threecol"><h2>More on Baptism</h2></a>

    <div class="rule_wh_short"></div>

    <h3 class="nomar blue">Why Should I Tithe?</h3>
    <p>The Austin Stone Community Church believes that giving a tithe (10% of income) is a biblical principle established by God in the scriptures in order to protect the hearts of God's people who are so prone to loving money more than God&hellip;</p>
    <a href="files/why-tithe.pdf" class="hot_threecol"><h2>More on Tithing</h2></a>


    <div class="rule_wh_short"></div>

    <h3 class="nomar blue">What is the role of women in the church?</h3>

    <p>The Austin Stone Community Church holds to a Biblical Complementarian view concerning the role of men and women.  In short, we believe that men and women were created by God to be both equal in value and dignity, but that He gave us differing roles, in order that we may best reflect both the equality and differing roles within the Trinity&hellip;</p>
    <a href="files/womens-role.pdf" class="hot_threecol"><h2>More on Women in the Church</h2></a>

    <!--<h3 class="nomar blue">Vision Series 2006 &ndash; You Are The Church</h3>
    <p class="nomar">Our 2006 Vision Series, “You Are The Church” was about I don’t really know because I couldnt find a description. <a href="">Listen to the series</a>.</p>
			<div class="rule_wh_short"></div>
    
			<h3 class="nomar blue">Vision Series 2007 &ndash; We Are The Church Together</h3>
    <p class="nomar">Our 2007 Vision Series, “We Are The Church Together” was about I don’t really know because I couldnt find a description. <a href="">Listen to the series</a>.</p>
			<div class="rule_wh_short"></div>
    
			<h3 class="nomar blue">Vision Series 2008 &ndash; A Church For The City</h3>
    <p class="nomar">Our 2008 Vision Series, “A Church For The City” was about I don’t really know because I couldnt find a description. <a href="">Listen to the series</a>.</p>
			<div class="rule_wh_short"></div>
    
			<h3 class="nomar blue">Vision Series 2009 &ndash; Blueprint</h3>
    <p class="nomar">Our 2009 Vision Series, “Blueprint” was about I don’t really know because I couldnt find a description. <a href="">Listen to the series</a>.</p>
			<div class="rule_wh_short"></div>
    
			<h3 class="nomar blue">Vision Series 2010 &ndash; The Purpose of Ecclesia</h3>
    <p class="nomar">Our 2010 Vision Series, “The Purpose of Ecclesia” was about I don’t really know because I couldnt find a description. <a href="">Listen to the series</a>.</p>-->		
</div>