		<div class="onecol">
			<h1>Campuses &amp; Worship Times</h1>
		</div>
		
		<div class="onecol">
			<div id="story_menu">
					<ul id="story_menunav">
						<li id="story_menunav"><a href="/campuses/campuses-main">Campuses Main</a></li>
						<li id="story_menunav"><a href="/campuses/downtown">Downtown</a></li>
						<li id="story_menunav"><a href="/campuses/stjohn" class="sub-current">St. John</a></li>
						<li id="story_menunav"><a href="/campuses/west">West</a></li>				
					</ul>
			</div> <!-- /story_menu -->
		</div><!--/onecol-->
		
		<div style="clear:both;"></div>
		<div class="bump">&nbsp;</div>
		
		<div class="onecol">
			<h1 class="blue nocap">St. John Campus</h1>
		</div>

		<div class="threecol_2">
			<img src="../images/stj-pastors.jpg" style="margin:0 10px 10px 0;" align="left" alt="Missional Community"/>			
		
			<p>Welcome to the St. John Campus of The Austin Stone Community Church!  It is truly a blessing to meet at several campuses around the city. This allows us to retain a unified vision of exalting Jesus throughout Austin while meeting in smaller, more personalized, and diverse environments.</p>
			
			<p>In the morning services you’ll worship alongside lots of young families, which keeps our KidStuff team happily busy.  Both of our evening services are great places to hear and sing of the good news of Jesus, whether it's to end your Sunday or to begin a night of fellowship with your friends.</p>
			
			<p>When you join us on Sunday, come eager and willing to meet some new friends because, while we’re big enough to sing loudly, we’re small enough to see the same faces each week.</p>
			
			<blockquote>Your Campus Pastors,<br>
			Jon Dansby and Chris Collins</blockquote>
			
			<div class="times-box" style="width:580px;margin:0;">	
				<a href="https://austinstone.onthecity.org/kiosk/" class="connect-button"><h2>Get Connected</h2></a>
				<p class="nomar" style="float:left;width:410px;margin-top:-5px;">Looking to get connected? Fill out this short form and someone from our Connections Team will help get you more involved at the St. John campus of The Austin Stone.</p>
			</div>
		</div>
		
		<div class="times-box">
			<h1 class="black nocap">Worship Times</h1>
			
			<div class="worship-time">
				<h2>9:15</h2>
			</div>
			
			<div class="worship-time" style="margin-left:10px;">
				<h2>11:15</h2>
			</div>
			
			<div class="worship-time" style="margin-left:10px;">
				<h2>5:00</h2>
			</div>
			
			<div class="worship-time" style="margin-left:10px;">
				<h2>7:00</h2>
			</div>
			
			<div class="rule_bl" style="margin:-5px 0 6px 0;"></div><!--/\/\/\rule/\/\/\-->
			
			<div class="worship-time">
				<h3 class="grey nocap nomar">KidStuff</h3>
			</div>
			
			<div class="worship-time" style="margin-left:10px;">
				<h3 class="grey nocap nomar">KidStuff<br>Teenrock</h3>
			</div>
			
			<div class="worship-time" style="margin-left:10px;">
				<h3 class="grey nocap nomar">KidStuff</h3>
			</div>
			
			<div class="worship-time" style="margin-left:10px;">
				<h3 class="grey nocap nomar">Childcare</h3>
			</div>

		</div>
		
		<!--<div class="threecol" style="margin-top:20px;">
			<img src="http://placehold.it/300x160&text=Pretty Campus Photo" />
		</div>-->
		
		<div style="clear:both"></div>							
		
		<div class="onecol"><div class="rule_wh"></div></div><!--/\/\/\rule/\/\/\-->
										
		<div class="fourcol">
			<h1 class="black nocap" style="background:#fff;text-align:center;padding:8px;">AM Leadership</h1>
			
			<img src="/images/campuses/stj-dansby.jpg" style="padding-right:10px;float:left;margin-bottom:10px;"/>
			<a href="mailto:jon@austinstone.org"><img src="../images/staff_email.png" class="nomar" style="float:left;margin-bottom:10px;" /></a>
			
			<h2 class="blue nomar">Jon Dansby</h2>
			<h3 style="margin-bottom:30px;">Campus Pastor</h3>
			
			<img src="/images/campuses/stj-justin.jpg" style="padding-right:10px;float:left;margin-bottom:10px;"/>
			<a href="mailto:justin.hroch@austinstone.org"><img src="../images/staff_email.png" class="nomar" style="float:left;margin-bottom:10px;" /></a>
			<a href="https://twitter.com/justinhroch"><img src="../images/staff_twitter.png" class="nomar" style="float:left;" /></a>
			
			<h2 class="blue nomar">Justin Hroch</h2>
			<h3 style="margin-bottom:30px;">Leadership Development Director</h3>
			
			<img src="/images/campuses/stj-d.jpg" style="padding-right:10px;float:left;margin-bottom:10px;"/>
			<a href="mailto:d@austinstone.org"><img src="../images/staff_email.png" class="nomar" style="float:left;margin-bottom:10px;" /></a>
			<a href="https://twitter.com/mrdthompson"><img src="../images/staff_twitter.png" class="nomar" style="float:left;" /></a>
			
			<h2 class="blue nomar">D&nbsp;Thompson</h2>
			<h3 style="margin-bottom:30px;">Connections Director</h3>
		</div>
		
		<div class="fourcol">
			<h1 class="black nocap" style="background:#fff;text-align:center;padding:8px;">PM Leadership</h1>
			
			<img src="/images/campuses/stj-collins.jpg" style="padding-right:10px;float:left;margin-bottom:10px;"/>
			<a href="mailto:chris@austinstone.org"><img src="../images/staff_email.png" class="nomar" style="float:left;margin-bottom:10px;" /></a>
			<a href="https://twitter.com/_collins_"><img src="../images/staff_twitter.png" class="nomar" style="float:left;" /></a>
			
			<h2 class="blue nomar">Chris Collins</h2>
			<h3 style="margin-bottom:30px;">Campus Pastor</h3>
			
			<img src="/images/campuses/stj-robby.jpg" style="padding-right:10px;float:left;margin-bottom:10px;"/>
			<a href="mailto:robby.moore@austinstone.org"><img src="../images/staff_email.png" class="nomar" style="float:left;margin-bottom:10px;" /></a>
			<a href="https://twitter.com/rmoore1988"><img src="../images/staff_twitter.png" class="nomar" style="float:left;" /></a>
			
			<h2 class="blue nomar">Robby Moore</h2>
			<h3 style="margin-bottom:30px;">Leadership Development Direcotr</h3>
			
			<img src="/images/campuses/stj-brendan.jpg" style="padding-right:10px;float:left;margin-bottom:10px;"/>
			<a href="mailto:brendan.thompson@austinstone.org"><img src="../images/staff_email.png" class="nomar" style="float:left;margin-bottom:10px;" /></a>
			<a href="https://twitter.com/thompsonbd1"><img src="../images/staff_twitter.png" class="nomar" style="float:left;" /></a>
			
			<h2 class="blue nomar">Brendan Thompson</h2>
			<h3 style="margin-bottom:30px;">Campus Director</h3>
		</div>
		
		<div class="twocol">
			<iframe style="border:5px solid #fff;" width="450" height="330" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?msa=0&amp;msid=211619950205743684538.00048f106a10bb428801c&amp;ie=UTF8&amp;t=m&amp;ll=30.334695,-97.705708&amp;spn=0.012223,0.019269&amp;z=15&amp;output=embed"></iframe><br />
			
			<h3 class="grey" style="text-align:center;"><a href="http://maps.google.com/maps/ms?msa=0&amp;msid=211619950205743684538.00048f106a10bb428801c&amp;ie=UTF8&amp;t=m&amp;ll=30.334695,-97.705708&amp;spn=0.012223,0.019269&amp;z=15&amp;source=embed" style="color:#424242;">St. John Campus Parking</a></h3>
		</div>
		
		<div class="times-box" style="width:420px">
			<h1 class="black nocap">KidStuff (8 weeks&ndash;5th grade)</h1>
			<div style="width:200px;float:left;margin-right:20px;">
				<img src="/images/campuses/stj-becca.jpg" style="padding-right:10px;float:left;margin-bottom:10px;" width="170" height="170"/>
				<a href="mailto:becca@austinstone.org"><img src="../images/staff_email.png" class="nomar" style="float:left;margin-bottom:10px;" /></a>
				<a href="https://twitter.com/beccalarae"><img src="../images/staff_twitter.png" class="nomar" style="float:left;" /></a>
				<h2 class="blue nomar">Becca Harris</h2>
				<h3>Campus Children's Minister</h3>
			</div>
			
			<div style="clear:both;"></div>
			
			<h1 class="black nocap">TeenRock JRHI (6th&ndash;8th grade)</h1>
			<div style="width:200px;float:left;">
				<img src="/images/campuses/all-hanvey.jpg" style="padding-right:10px;float:left;margin-bottom:10px;" width="170" height="170"/>
				<a href="mailto:matthew.hanvey@austinstone.org"><img src="../images/staff_email.png" class="nomar" style="float:left;margin-bottom:10px;" /></a>
				<a href="https://twitter.com/matthewmmh"><img src="../images/staff_twitter.png" class="nomar" style="float:left;" /></a>
				<h2 class="blue nomar">Matt Hanvey</h2>
				<h3>Middle School Minister</h3>
			</div>
			
			<div style="clear:both;"></div>

			<h1 class="black nocap">TeenRock HIGH (9th&ndash;12th grade)</h1>
			<div style="width:200px;float:left;margin-right:20px;">
				<img src="/images/campuses/all-scott.jpg" style="padding-right:10px;float:left;margin-bottom:10px;" width="170" height="170"/>
				<a href="mailto:scott.frazier@austinstone.org"><img src="../images/staff_email.png" class="nomar" style="float:left;margin-bottom:10px;" /></a>
				<a href="https://twitter.com/scottcfrazier"><img src="../images/staff_twitter.png" class="nomar" style="float:left;" /></a>
				<h2 class="blue nomar">Brendan "the-pitt"</h2>
				<h3>TeenRock High Minister</h3>
			</div>
			<div style="width:200px;float:left;">
				<img src="/images/campuses/all-melissa.jpg" style="padding-right:10px;float:left;margin-bottom:10px;" width="170" height="170"/>
				<a href="mailto:melissa@austinstone.org"><img src="../images/staff_email.png" class="nomar" style="float:left;margin-bottom:10px;" /></a>
				<a href="https://twitter.com/_melizzy"><img src="../images/staff_twitter.png" class="nomar" style="float:left;" /></a>
				<h2 class="blue nomar">Melissa Macias</h2>
				<h3>TeenRock Women's Minister</h3>
			</div>												
		</div>
