		<div class="onecol">
			<h1>Campuses &amp; Worship Times</h1>
		</div>
		
		<div class="onecol">
			<div id="story_menu">
					<ul id="story_menunav">
						<li id="story_menunav"><a href="/campuses/campuses-main">Campuses Main</a></li>
						<li id="story_menunav"><a href="/campuses/downtown">Downtown</a></li>
						<li id="story_menunav"><a href="/campuses/stjohn">St. John</a></li>
						<li id="story_menunav"><a href="/campuses/west"class="sub-current">West</a></li>				
					</ul>
			</div> <!-- /story_menu -->
		</div><!--/onecol-->
		
		<div style="clear:both;"></div>
		<div class="bump">&nbsp;</div>
		
		<div class="onecol">
			<h1 class="blue nocap">West Campus</h1>
		</div>

		<div class="threecol_2">
			<img src="../images/west-pastor.jpg" style="margin:0 10px 10px 0;" align="left" alt="Missional Community"/>			
		
			<p>As Campus Pastor, I want to welcome you to the West Campus of The Austin Stone. &ldquo;Welcomed&rdquo; is what you will feel from the moment you walk in the doors of O. Henry Middle School. You&rsquo;ll notice people lingering before and after the service in conversations. You&rsquo;ll see out-of-breath parents delighted to drop off their carload of kids&hellip; because the KidStuff ministry is so good. You&rsquo;ll see TeenRock digging in deep with your students in their own worship service. And you will walk into the gym to find a multi-generational congregation responding to Christ-centered worship and preaching.</p>
			
			<p>Our vision is simply to see all of Austin, especially West Austin, worship Jesus. And if we stick a name tag on you, don’t be offended...it’s because we actually want to know you..</p>
			
			<blockquote>Your Campus Pastor,<br>
			Zac Allen</blockquote>
			
			<div class="times-box" style="width:580px;margin:0;">	
				<a href="https://austinstone.onthecity.org/kiosk/" class="connect-button"><h2>Get Connected</h2></a>
				<p class="nomar" style="float:left;width:410px;margin-top:-5px;">Looking to get connected? Fill out this short form and someone from our Connections Team will help get you more involved at the West campus of The Austin Stone.</p>
			</div>
		</div>
		
		<div class="times-box">
			<h1 class="black nocap">Worship Times</h1>
			
			<div class="worship-time">
				<h2>10:00</h2>
			</div>
			
			<div class="rule_bl" style="margin:-5px 0 6px 0;"></div><!--/\/\/\rule/\/\/\-->
			
			<div class="worship-time">
				<h3 class="grey nocap nomar">KidStuff<br>Teenrock</h3>
			</div>
		</div>
		
		<!--<div class="threecol" style="margin-top:20px;">
			<img src="http://placehold.it/300x160&text=Pretty Campus Photo" />
		</div>-->
		
		<div style="clear:both"></div>							
		
		<div class="onecol"><div class="rule_wh"></div></div><!--/\/\/\rule/\/\/\-->
										
		<div class="twocol">
			<h1 class="black nocap" style="background:#fff;text-align:center;padding:8px;">West Campus Leadership</h1>
			
			<div style="width:220px;height:275px;float:left;margin-right:20px;">
				<img src="/images/campuses/west-zac.jpg" style="padding-right:10px;float:left;margin-bottom:10px;"/>
				<a href="mailto:zac@austinstone.org"><img src="../images/staff_email.png" class="nomar" style="float:left;margin-bottom:10px;" /></a>
				<a href="https://twitter.com/zacallen"><img src="../images/staff_twitter.png" class="nomar" style="float:left;" /></a>
						
				<h2 class="blue nomar">Zac Allen</h2>
				<h3 style="margin-bottom:30px;">Campus Pastor</h3>
			</div>
			
			<div style="width:220px;height:275px;float:left;">
				<img src="/images/campuses/west-bo.jpg" style="padding-right:10px;float:left;margin-bottom:10px;"/>
				<a href="mailto:bo.schwarz@forthecity.org"><img src="../images/staff_email.png" class="nomar" style="float:left;margin-bottom:10px;" /></a>
				
				<h2 class="blue nomar">Bo&nbsp;Schwarz</h2>
				<h3 style="margin-bottom:30px;">Leadership Development Director</h3>
			</div>
			
			<div style="width:220px;height:275px;float:left;">	
				<img src="/images/campuses/west-funkhouser.jpg" style="padding-right:10px;float:left;margin-bottom:10px;"/>
				<a href="mailto:lindsay@austinstone.org"><img src="../images/staff_email.png" class="nomar" style="float:left;margin-bottom:10px;" /></a>
				<a href="https://twitter.com/linfunk"><img src="../images/staff_twitter.png" class="nomar" style="float:left;" /></a>
				
				<h2 class="blue nomar">Lindsay Funkhouser</h2>
				<h3 style="margin-bottom:30px;">Connections Director</h3>
			</div>
		</div>
		
		<div class="twocol">
			<iframe style="border:5px solid #fff;" width="450" height="330" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?msa=0&amp;msid=211619950205743684538.0004aabacc3ce410a50fe&amp;ie=UTF8&amp;t=m&amp;ll=30.285605,-97.772934&amp;spn=0.006115,0.009634&amp;z=16&amp;output=embed"></iframe><br />
			
			<h3 class="grey" style="text-align:center;"><a href="http://maps.google.com/maps/ms?msa=0&amp;msid=211619950205743684538.0004aabacc3ce410a50fe&amp;ie=UTF8&amp;t=m&amp;ll=30.285605,-97.772934&amp;spn=0.006115,0.009634&amp;z=16&amp;source=embed" style="color:#424242;">West Campus Parking</a></h3>
		</div>
		
		<div class="times-box" style="width:420px">
			<h1 class="black nocap">KidStuff (8 weeks&ndash;5th grade)</h1>
			<div style="width:200px;float:left;margin-right:20px;">
				<img src="/images/campuses/west-jana.jpg" style="padding-right:10px;float:left;margin-bottom:10px;" width="170" height="170"/>
				<a href="mailto:jana@austinstone.org"><img src="../images/staff_email.png" class="nomar" style="float:left;margin-bottom:10px;" /></a>
				<a href="https://twitter.com/jana_magruder"><img src="../images/staff_twitter.png" class="nomar" style="float:left;" /></a>
				<h2 class="blue nomar">Jana Magruder</h2>
				<h3>Campus Children's Minister</h3>
			</div>
			
			<div style="clear:both;"></div>
			
			<h1 class="black nocap">TeenRock JRHI (6th&ndash;8th grade)</h1>
			<div style="width:200px;float:left;">
				<img src="/images/campuses/all-hanvey.jpg" style="padding-right:10px;float:left;margin-bottom:10px;" width="170" height="170"/>
				<a href="mailto:matthew.hanvey@austinstone.org"><img src="../images/staff_email.png" class="nomar" style="float:left;margin-bottom:10px;" /></a>
				<a href="https://twitter.com/matthewmmh"><img src="../images/staff_twitter.png" class="nomar" style="float:left;" /></a>
				<h2 class="blue nomar">Matt Hanvey</h2>
				<h3>TeenRock Middle School Minister</h3>
			</div>
			
			<div style="clear:both;"></div>

			<h1 class="black nocap">TeenRock HIGH (9th&ndash;12th grade)</h1>
			<div style="width:200px;float:left;margin-right:20px;">
				<img src="/images/campuses/all-scott.jpg" style="padding-right:10px;float:left;margin-bottom:10px;" width="170" height="170"/>
				<a href="mailto:scott.frazier@austinstone.org"><img src="../images/staff_email.png" class="nomar" style="float:left;margin-bottom:10px;" /></a>
				<a href="https://twitter.com/scottcfrazier"><img src="../images/staff_twitter.png" class="nomar" style="float:left;" /></a>
				<h2 class="blue nomar">Scott Frazier</h2>
				<h3>TeenRock High Minister</h3>
			</div>
			<div style="width:200px;float:left;">
				<img src="/images/campuses/all-melissa.jpg" style="padding-right:10px;float:left;margin-bottom:10px;" width="170" height="170"/>
				<a href="mailto:melissa@austinstone.org"><img src="../images/staff_email.png" class="nomar" style="float:left;margin-bottom:10px;" /></a>
				<a href="https://twitter.com/_melizzy"><img src="../images/staff_twitter.png" class="nomar" style="float:left;" /></a>
				<h2 class="blue nomar">Melissa Macias</h2>
				<h3>TeenRock Women's Minister</h3>
			</div>												
		</div>
