                                	
<div class="onecol">

	<h1>Austin Stone Worship</h1>
</div>

<div class="threecol_2 nomar">
	<blockquote>The vision for Austin Stone Worship came from a desire to write and sing songs focused on the centrality of Jesus Christ and the mission of God in the world.  Releasing albums with songs mostly written by pastors and songwriters within The Austin Stone church body, these songs convey our great need to fully surrender to the person of Jesus, to give our lives for the sake of His Gospel, and to worship him with abandon.</blockquote>
</div>

<div class="threecol nomar">
	<img src="/images/as_worship.png" alt="Austin Stone Worship"/>
</div>

<div class="onecol"><div class="rule_wh"></div></div><!--/\/\/\rule/\/\/\-->

<div class="twocol">
	<p>Austin Stone Worship is more than just a group of worship leaders releasing albums.  Instead, we hope to resource the Church, worship leaders, and musicians with songs that are rich in theology, mission, and expression.  Beyond the actual songs, our website will serve to give a behind-the-scenes look at:</p>
	
	<ul class="bullet">
	    <li>The songwriting story & process from the songwriters perspective (video interviews)</li>
	    <li>The theology behind each song (downloadable pdf)</li>
	    <li>Access to free chord charts (downloadable pdf)</li>
	    <li>Free teaching videos for each specific instrument for each song</li>
	</ul>
	<br />
	<a class="hot_threecol" href="http://austinstoneworship.com"><h2>Visit austinstoneworship.com</h2></a>
</div><!--/twocol-->

<div class="threecol">
	<img src="/images/asw_live.jpg" width="290" height="263" style="border: 5px solid #fff;" alt="Austin Stone Live Album"/>
	<h2>Latest Album: <span class="grey">Austin Stone Live</span></h2>
</div>
