@charset "utf-8";

/* 
html5doctor.com Reset Stylesheet
v1.4.1 
2010-03-01
Author: Richard Clark - http://richclarkdesign.com
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
    display:block;
}

ul, dl {
    list-style:none;
	width:100%;
}

a {
  text-decoration:none;
  background: none;
  }

html,body {margin:0;padding:0;} 

/* end reset */


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */



/*
Theme Name: The Austin Stone - Parenting Seminar
Designer: The Austin Stone Community Church
Developers: The Austin Stone Community Church


Colors:

blue:	#193D4F
turq:	#87C6C2
orange:	#EA643B

*/




/*~~~~~~~~~~~ Generic Styles ~~~~~~~~~~~~~~*/

body	{
	background: #193D4F;
	background-image: url('../images/bg2.png');
	background-repeat: repeat;
}

p {
	font-family: "facitweb",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	color: #f9f9f9;
	line-height: 23px;
	margin-bottom: 26px;
}

p.headline {
	font-family: "facitweb",sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 13px;
	margin: 15px 0 15px 0;
}

p.time {
	font-family: "facitweb",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	margin-top: 16px;
	color: #EA643B;
}

h1, h1.logo, h2, h3, h4, h4.reg {
	font-family: "adelle",serif;
	font-style: normal;
	color: #ea643b;
}

h1 {
	font-size:21px; 
	font-weight: 400;	
}

h1.logo {
	font-weight: 400;
	font-size: 55px;
}

h1.price {
	font-family: "facitweb",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 65px;
	text-align: center;
	margin-bottom: -15px;
}

h1.tagline {
	font-weight: 400;
	font-size: 27px;
	font-style: italic;
	color: #f9f9f9;
	margin: -5px 0 15px 0;	
}

h2 {
	font-size:20px;
	font-weight: 400;
}

h3 {
	font-size:14px;
	font-weight: 400;	
}

h4.reg {
	font-weight: 600;
	font-size: 14px;
	color: #EA643B;
	border-top: 4px solid #EA643B;
	padding-top: 8px;
	width:207px;
}

a {
	color: #EA643B;
	-webkit-transition: color .2s ease-in; /*safari and chrome */
 	-o-transition: color .2s ease-in; /* opera */
	text-decoration: none;
}

a:hover {
	color: #fff;
}

::selection {
background:#EA643B;
color: #fff;
}
::-moz-selection {
background:#EA643B;
color:#fff;
}
::-webkit-selection {
background:#EA643B;
color:#fff;
}

.rule {
    width: 100%;
    float: left;
    height: 1px;
	border-top: 2px solid #87C6C2;
    margin: 15px 0 45px 0;
}


/*~~~~~~~~~~~ Menu ~~~~~~~~~~~~~~*/

#menu {
	margin: 75px 0 0 10px;
	font-family: "facitweb",sans-serif;
	font-style: normal;
	font-weight: 400;
	letter-spacing: -1px;
}

ul#menunav {
	font-size: 20px;
	list-style-type:none;
	line-height: 30px;
}

li#menunav {
	margin-left: 20px;
}


#menunav a {
	color:#193D4F;
}


#menunav a:hover {
	color:#fff;
}

body#home a#homenav,
body#leaders a#leadersnav,
body#register a#registernav {
color: #f9f9f9;
}




/*~~~~~~~~~~~ Home ~~~~~~~~~~~~~~*/

.container {
	height: auto;
	width: 715px;
	margin: 60px 0 200px 190px;
}

.side {
	float: left;
	width: 20px;
	height: 100%;
	position: fixed;
	background-color: #87C6C2;
	background-repeat: repeat-y;
	top: 0px;
	left:0px;
}

.sidenav {
	width: 135px;
	height: 240px;
	float: left;
	background-image: url('../images/side-menu.png');
	background-repeat: no-repeat;
	position: fixed;
	top: 125px;
	left: 0px;
}

.top {
	background: #193D4F;
	background-image: url('../images/bg2.png');
	background-repeat: repeat;
	width: 735px;
	height: auto;
	position: fixed;
	padding-left: 20px;
	margin-left: -20px;
	top: 0px;
	left: 190px;
	padding-bottom: 10px;

}

.col1 {
	width: 218px;
	float: left;
	height: auto;
	margin: 25px 30px 0 0;
}

.col1b {
	width: 218px;
	float: left;
	height: auto;
	margin: 25px 0 0 0;
}


.col2 {
	width: 466px;
	float: left;
	height: auto;	
}


.colwhere {
	width: 215px;
	float: right;
	height: auto;
}

.scheduletop {
	float:right;
	width: 215px;
	height: 25px;
	padding-top: 10px;
	text-align: center;
	color: #EA643B;
	background: #99C4C2;
}

.scheduletop h3 {
	text-align: center;
	color: #E5E5E5;
	background: #99C4C2;
}

.schedule {
	float: right;
	width: 165px;
	height: auto;
	border-left: 5px solid #87C6C2;
	border-right: 5px solid #87C6C2;
	border-bottom: 5px solid #87C6C2;
	margin-left: 30px;
	padding: 0 20px 20px 20px;
}

.slide-button {
	font-family: "facitweb",sans-serif;
	font-weight: 600;
	font-size: 11px;
	text-transform: uppercase;
	background:#EA643B;
	color:#fff;
	padding:5px;
	letter-spacing: 1px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: background-color .2s ease-in; /*safari and chrome */
 	-o-transition: background-color .2s ease-in; /* opera */	
}

.slide-button:hover {
	background-color: #C1522F;
}

.details {
	background:none;
	padding-top:24px;
	height:125px;
	-webkit-transition: background-color .3s ease-in; /*safari and chrome */
 	-o-transition: background-color .3s ease-in; /* opera */
}

.details:hover {
	background-color: #132F3E;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

a.opac {
    opacity: 1.0;
    filter: alpha(opacity=100);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transition: opacity .2s ease-in; /*safari and chrome */
    -o-transition: opacity .2s ease-in; /* opera */    
}

a.opac:hover {
    opacity: 0.50;
    filter: alpha(opacity=50);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";	
}

.footer {
	width: auto;
}




/*~~~~~~~~~~~ Slides ~~~~~~~~~~~~~~*/

#slides {
	position:absolute;
	top:15px;
	left:4px;
	z-index:100;
}

#slides .next,#slides .prev {
	position:absolute;
	top:107px;
	left:-39px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

.slides_container {
	width:466px;
	height:312px;
	overflow:hidden;
	position:relative;
	display:none;
}

.slides_container a {
	width:466px;
	height:312px;
	display:block;
}

/*
	Pagination
*/

.pagination {
	margin:0;
}

.pagination li {
	float:left;
	margin:-130px 0 0 500px;
	width:180px;
	text-align: center;
}

.pagination li a {

}

.pagination li.current a {
	display: none;
	
}




/*~~~~~~~~~~~ Inside ~~~~~~~~~~~~~~*/

.bump {
    width: 100%;
    height: 30px;
}

.nomar {
    margin:0;
}

