/*  Responsive
---------------------------------------------------------------------------------------------------- */

/* Desktop! */
@media screen and (max-width: 860px) {

	body {
		background-image: url('../images/easter-bg-sm.jpg');
		background-position: center top;
	}
	
	#body-background {
		display: none;
	}
	
	.container {
		width:560px;
		height:auto;
		margin: 0 auto;
	}
	
	.inside_content {
		background: rgb(255, 255, 255); /* The Fallback */
		background: rgba(255, 255, 255, 0.7);
		padding: 20px;
		margin: 0 0 15px 0;
		width:520px;
		clear:both;
		height:auto;
	}
	
	
	
	/* Columns */
	
	.onecol,
	.twocol,
	.threecol,
	.threecol_2,
	.fourcol,
	.fourcol_3,
	.fivecol,
	.fivecol_2,
	.fivecol_3,
	.fivecol_4 {
		margin:0 10px;
		float:left;
		width:500px;
	}
	
	
	
	/* General */
	
	#header_top {
		width: 465px;
		height:203px;
		text-align: center;	
		margin: 0 auto 30px;
	}
	
	#logo_home {
		background-image: url('../images/easter-logo-sm.png');
		width: 465px;
		height:203px;
		text-indent: -9999px;
		text-align: center;
	}
	
	#menu {
		width:520px;
		margin:0 auto 50px;
	}
	
	#menunav {
		font-size: 14px;
		list-style-type:none;
		letter-spacing: 1px;
		font-weight: 100;
		display:inline;
		padding: 5px;
	}
	
	#menunav.menu-home {
		display:none;
	}
	
	.footer {
		background: rgb(255, 255, 255); /* The Fallback */
		background: rgba(255, 255, 255, 0.7);
		height:50px;
		width:520px; /* 560-40 */
		padding:30px 20px 20px;
		margin: 70px 0 0 0;
		border-top:10px solid #FFCB07;
	}
	
	.food_list {
		width:478px; /* 500-22 */
	}

}




@media screen and (max-width: 650px) {
	
	.container {
		width:440px;
		height:auto;
		margin: 0 auto;
	}
	
	.inside_content {
		background: rgb(255, 255, 255); /* The Fallback */
		background: rgba(255, 255, 255, 0.7);
		padding: 20px;
		margin: 0 0 15px 0;
		width:400px;
		clear:both;
		height:auto;
	}
	
	
	
	/* Columns */
	
	.onecol,
	.twocol,
	.threecol,
	.threecol_2,
	.fourcol,
	.fourcol_3,
	.fivecol,
	.fivecol_2,
	.fivecol_3,
	.fivecol_4 {
		margin:0 10px;
		float:left;
		width:380px;
	}
	
	
	
	/* General */
	
	#header_top {
		width: 400px;
		height:175px;
		text-align: center;	
		margin: 0 auto 15px;
	}
	
	#logo_home {
		background-image: url('../images/easter-logo-sm2.png');
		width: 400px;
		height:175px;
		text-indent: -9999px;
		text-align: center;
	}
	
	#menu {
		width:320px;
		margin:0 auto 20px;
		line-height: 40px;
		border-top: 1px solid #fff;
		padding-top: 10px;
	}
	
	#menunav {
		font-size: 14px;
		list-style-type:none;
		letter-spacing: 1px;
		font-weight: 100;
		display:inline;
		padding: 5px;
	}
	
	#menunav.menu-home {
		display:none;
	}
	
	.footer {
		background: rgb(255, 255, 255); /* The Fallback */
		background: rgba(255, 255, 255, 0.7);
		height:50px;
		width:400px; /* 440-40 ?? */
		padding:30px 20px 20px;
		margin: 70px 0 0 0;
		border-top:10px solid #FFCB07;
	}
	
	.food_list {
		width:358px; /* 380-22 */
	}
	
}




/* Small screen! */
@media screen and (max-device-width: 360px),
screen and (max-width: 460px) {

	html {	/* iOS and Windows Mobile font-size changes make the robot cry and SMASH */
		-ms-text-size-adjust: none;
		-webkit-text-size-adjust: none;
	}
	
	.container {
		width:100%;
		height:auto;
		margin: 0 auto;
	}
	
	.inside_content {
		background: rgb(255, 255, 255); /* The Fallback */
		background: rgba(255, 255, 255, 0.7);
		padding: 7.5%;
		margin: 0 0 15px 0;
		width:85%;
		clear:both;
		height:auto;
	}
	
	
	
	/* Columns */
	
	.onecol,
	.twocol,
	.threecol,
	.threecol_2,
	.fourcol,
	.fourcol_3,
	.fivecol,
	.fivecol_2,
	.fivecol_3,
	.fivecol_4 {
		margin:0;
		float:left;
		width:100%;
	}
	
	
	
	/* General */
	
	p {
		font-size: 1em;
		line-height: 1.5em;
	}
	
	p.note {
		font-size: .9em;
		line-height: 1.2em;
		font-style: italic;
	}
	
	#header_top {
		width: 300px;
		height:175px;
		text-align: center;	
		margin: 0 auto 15px;
	}
	
	#logo_home {
		background-image: url('../images/easter-logo-sm3.png');
		width: 300px;
		height:175px;
		text-indent: -9999px;
		text-align: center;
	}
	
	#menu {
		width:320px;
		margin:0 auto 20px;
		line-height: 40px;
		border-top: 1px solid #fff;
		padding-top: 10px;
	}
	
	#menunav {
		font-size: 14px;
		list-style-type:none;
		letter-spacing: 1px;
		font-weight: 100;
		display:inline;
		padding: 5px;
	}
	
	#menunav.menu-home {
		display:none;
	}
	
	.footer {
		background: rgb(255, 255, 255); /* The Fallback */
		background: rgba(255, 255, 255, 0.7);
		height:50px;
		width:85%; /* 440-40 ?? */
		padding:30px 7.5% 20px;
		margin: 70px 0 0 0;
		border-top:10px solid #FFCB07;
	}
	
	.food_list {
		width:90%; /* 380-22 */
	}

}