@charset "utf-8";

/* 
html5doctor.com Reset Stylesheet
v1.4.1 
2010-03-01
Author: Richard Clark - http://richclarkdesign.com
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
    display:block;
}

ul, dl {
    list-style:none;
	width:100%;
}

a {
  text-decoration:none;
  background: none;
  }

html,body {margin:0;padding:0;} 

/* end reset */


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */



/*
Theme Name: The Austin Stone - Easter
Designer: The Austin Stone Community Church
Developers: The Austin Stone Community Church


Colors:

gold:		#FFCB07
grey:		#D4D4D4
*/




/*~~~~~~~~~~~ Generic Styles ~~~~~~~~~~~~~~*/

body
{
	padding: 0;
	background: #d4d4d4;
}

p	{
	font-family: Georgia, Times, Serif;
	font-size: 13px;
	color: #000;
	margin: 0px 0 20px 0;
	line-height: 20px;
}

p.note	{
	font-family: Georgia, Times, Serif;
	font-size: 11px;
	color: #000;
	margin-top: -11px;
	line-height: 15px;
}

p a {
	color: #000;
	text-decoration: none;	
	border-bottom: 2px solid #ffcb07;
}

p a:hover {
	color: #000;
	text-decoration: none;
	background: #ffcb07;
}

h1 {
	font-family: Helvetica, Arial, Verdana, Sans-Serif;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 100;
	letter-spacing: 1px;
	margin-bottom: 10px;
}

h2 {
	font-family: Helvetica, Arial, Verdana, Sans-Serif;
	text-transform: uppercase;
	font-size: 17px;
	font-weight: 100;
	letter-spacing: 1px;
	margin-bottom: 10px;
}

h2 a {
	color: #000;
	text-decoration: none;	
	border-bottom: 2px solid #ffcb07;
}

h2 a:hover {
	color: #000;
	text-decoration: none;
	background: #ffcb07;
}

h2.faq {
	font-family: Helvetica, Arial, Verdana, Sans-Serif;
	text-transform: uppercase;
	font-size: 17px;
	font-weight: 100;
	letter-spacing: 1px;
	margin-bottom: 10px;
	font-weight: bold;
}

h3 {
	font-family: Helvetica, Arial, Verdana, Sans-Serif;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 100;
	letter-spacing: 1px;
}


::selection {
background:#FFCB07;
color: #fff;
}
::-moz-selection {
background:#FFCB07;
color:#fff;
}
::-webkit-selection {
background:#FFCB07;
color:#fff;
}

.blockquote {
	font-family: Georgia, Times, Serif;
	font-style: italic;
	font-size: 22px;
	color: #000;
	margin: 0px 0 20px 0;
	line-height: 30px;
}

.food_list {
	float: left;
	width:660px;
	clear:both;
	height: auto;
	margin: 8px 15px 22px 0;
	border-left: 3px solid #FFCB07;
	padding-left: 7px;
	line-height: 1.5em;
}

.food_list ul{
	padding-left: 20px;
	list-style:disc; 
}



/*~~~~~~~~~~~ Menu ~~~~~~~~~~~~~~*/

#menu {
	position: relative;
	text-align: center;
	font-family: Helvetica, Arial, Verdana, Sans-Serif;
	text-transform: uppercase;
}

ul#menunav {
	font-size: 16px;
	list-style-type:none;
	letter-spacing: 1px;
	font-weight: 100;
}

li#menunav {
	display:inline;
	padding: 12px 4px 12px 10px;
	border-left: 1px solid #fff;
}


#menunav a {
	color:#fff;
	padding:5px;
	text-decoration: none;
	background: none;
}


#menunav a:hover {
	color:#FFCB07;
	text-decoration: none;
	border-bottom: 7px solid #FFCB07;
	background: none;
}

body#easter a#homenav,
body#kids a#kidsnav,
body#travel a#travelnav,
body#volunteer a#volunteernav,
body#food a#foodnav,
body#faq a#faqnav {
	color:#FFCB07;
	text-decoration: none;
	border-bottom: 7px solid #FFCB07;
}





/*~~~~~~~~~~~ Main Page ~~~~~~~~~~~~~~*/


.container {
	height: auto !important;
	width: 700px;
	margin: 0px auto;
}

#header_top {
	width: 465px;
	height:390px;
	text-align: center;	
	margin: 0 117px 50px 118px;
}

#logo_home {
	background-image: url('../images/easter_logo.png');
	width: 465px;
	height:390px;
	text-indent: -9999px;
	text-align: center;
}

#stone_logo_foxed {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100px;
	height: 100px;
}

#stone_logo_foxed a {
	width: 100px;
	height: 100px;
	background-image: url('../images/ascc_logo2.png');
	background-position: 0 -100px;
	display: block;
	background-repeat: no-repeat;
}

#stone_logo_foxed a:hover {
	background-position: 0 0;
}

#food_drive {
	position: fixed;
	right: 0;
	top: 0;
	width: 130px;
	height: 250px;
}

#food_drive a {
	width: 130px;
	height: 250px;
	background-image: url('../images/canned.png');
	background-position: 0 0;
	display: block;
	background-repeat: no-repeat;
}

#food_drive a:hover {
	background-position: 0 -250px;
}

#reg_pack {
	position: relative;
	float:left;
	width: 660px;
	height: 215px;
}

#reg_pack a {
	width: 660px;
	height: 215px;
	background-image: url('../images/kidstuff_reg_packet.png');
	background-position: 0 0;
	display: block;
	background-repeat: no-repeat;
}

#reg_pack a:hover {
	background-position: 0 -215px;
}





/*~~~~~~~~~~~ Inside Pages ~~~~~~~~~~~~~~*/


#logo_inside {
	background-image: url('../images/crown.png');
	width: 250px;
	height:100px;
	text-indent: -9999px;
	text-align: center;
	margin: 0 225px 50px 225px;
}

#logo_foxed {
	position: fixed;
	left: 0;
	top: 0;
	width: 225px;
	height: 185px;
}

#logo_foxed a {
	width: 225px;
	height: 185px;
	background-image: url('../images/easter_sprite.png');
	background-position: 0 -185px;
	display: block;
	background-repeat: no-repeat;
}

#logo_foxed a:hover {
	background-position: 0 0;
}

#inside_wrapper {
	height: auto !important;
	width: 700px;
	margin: 50px auto;
	float:left;
}

.inside_content {
	background: rgb(255, 255, 255); /* The Fallback */
	background: rgba(255, 255, 255, 0.7);
	padding: 20px;
	margin: 0 0 15px 0;
	width: 660px;
	height: auto !important;
	float: left;
}

ul.kids_a {
	font-family: Georgia, Times, Serif;
	font-size: 13px;
	color: #000;
	margin: 10px 0 20px 20px;
	line-height: 20px;
	list-style: disc;	
	width: 300px;
}

ul.kids_b {
	font-family: Georgia, Times, Serif;
	font-size: 13px;
	color: #000;
	margin: 10px 0 20px 20px;
	line-height: 20px;
	list-style: disc;
}

ol.kids {
	font-family: Georgia, Times, Serif;
	font-size: 13px;
	color: #000;
	margin: 10px 0 20px 20px;
	line-height: 20px;
}

#fb_logo_foxed {
	position: fixed;
	right: 50px;
	bottom: 0;
	width: 40px;
	height: 39px;
}

#fb_logo_foxed a {
	width: 40px;
	height: 39px;
	background-image: url('../images/fb_logo.png');
	background-position: 0 -41px;
	display: block;
	background-repeat: no-repeat;
}

#fb_logo_foxed a:hover {
	background-position: 0 -1px;
}

#twitter_logo_foxed {
	position: fixed;
	right: 0;
	bottom: 0;
	width: 40px;
	height: 39px;
}

#twitter_logo_foxed a {
	width: 40px;
	height: 39px;
	background-image: url('../images/twitter_logo.png');
	background-position: 0 -41px;
	display: block;
	background-repeat: no-repeat;
}

#twitter_logo_foxed a:hover {
	background-position: 0 -1px;
}






/*~~~~~~~~~~~ Columns ~~~~~~~~~~~~~~*/
.col4_a {
	width: 150px;
	margin-right: 20px;
	float: left;
}

.col4_b {
	float: left; 
	width: 150px;	
}

.col4_c {
	float:left;
	width:490px;
	margin-right:20px;
}

.col4_li_1 {
	float: left;
	width: 145px;
	height: 62px;
	margin: -8px 15px 12px 0;
	border-left: 3px solid #35CFF9;
	padding-left: 7px;margin-left: -7px;
}

.col4_li_2 {
	float: left;
	width: 145px;
	height: 62px;
	margin: -8px 15px 12px 0;
	border-left: 3px solid #FC6A06;
	padding-left: 7px;margin-left: -7px;
}

.col4_li_3 {
	float: left;
	width: 145px;
	height: 62px;
	margin: -8px 15px 12px 0;
	border-left: 3px solid #1EFC06;
	padding-left: 7px;margin-left: -7px;
}

.col4_li_4 {
	float: left;
	width: 145px;
	height: 62px;
	margin: -8px 0 12px 0;
	border-left: 3px solid #FFEC06;
	padding-left: 7px;margin-left: -7px;
}

.col3_a {
	float: left; 
	width: 206px;
	margin-right: 20px;

}

.col3_b {
	float: left; 
	width: 208px;
}

.col2_a {
	float: left; 
	width: 320px;
	margin-right: 20px;
}

.col2_b {
	float: left; 
	width: 320px;
}

.col1 {
	float: left;
	width: 660px;
}





