@charset "utf-8";

/* 
html5doctor.com Reset Stylesheet
v1.4.1 
2010-03-01
Author: Richard Clark - http://richclarkdesign.com
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
field set, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, fig caption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

article,aside,canvas,details,fig caption,figure,
footer,header,hgroup,menu,nav,section,summary { 
    display:block;
}

ul, dl {
    list-style:none;
 width:100%;
}

a {
  text-decoration:none;
  background: none;
  }

html,body {margin:0;padding:0;} 

/* end reset */


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */



/*
Theme Name: The Austin Stone - Easter
Designer: The Austin Stone Community Church
Developers: The Austin Stone Community Church


Colors:

gold:		#FFCB07
grey:		#D4D4D4
*/

img {
	width:100%;
	height: auto;
}

body {
	background-color: #d4d4d4;
	width:100%;
	height:100%;
	background: url('../images/ec_bg.jpg') fixed #5d5d5d;
	background-position: center top;
	background-repeat: no-repeat;
}

.site {
	width:100%;
	margin:0 auto;
}

.container {
	width:760px;
	height:auto;
	margin: 0 auto;
}

.inside_content {
	background: rgb(255, 255, 255); /* The Fallback */
	background: rgba(255, 255, 255, 0.7);
	padding: 20px;
	margin: 0 0 15px 0;
	width:720px;
	clear:both;
	height:auto;
}



/* Columns */

.onecol,
.twocol,
.threecol,
.threecol_2,
.fourcol,
.fourcol_3,
.fivecol,
.fivecol_2,
.fivecol_3,
.fivecol_4 {
	margin:0 10px;
	float:left;
}

.onecol {
	width:700px;
}

.twocol {
	width:340px;
}

.threecol {
	width:220px;
}

.threecol_2 {
	width:460px;
}

.fourcol {
	width:160px;
}

.fourcol_3 {
	width:520px;
}

.fivecol {
	width:124px;
}

.fivecol_2 {
	width:268px;
}

.fivecol_3 {
	width:412px;
}

.fivecol_4 {
	width: 556px;
}



/* General */

#header_top {
	width: 465px;
	height:390px;
	text-align: center;	
	margin: 0 auto 30px;
}

#logo_home {
	background-image: url('../images/easter_logo.png');
	width: 465px;
	height:390px;
	text-indent: -9999px;
	text-align: center;
}

#menu {
	position: relative;
	text-align: center;
	font-family: Helvetica, Arial, Verdana, Sans-Serif;
	text-transform: uppercase;
	width:650px;
	margin:0 auto 50px;
}

#menunav {
	font-size: 14px;
	list-style-type:none;
	letter-spacing: 1px;
	font-weight: 100;
	display:inline;
	padding: 5px;
}

.footer {
	background: rgb(255, 255, 255); /* The Fallback */
	background: rgba(255, 255, 255, 0.7);
	height:50px;
	width:720px;
	padding:30px 20px 20px;
	margin: 70px 0 0 0;
	border-top:10px solid #FFCB07;
}

p {
	font-family: Georgia, Times, Serif;
	font-size: 13px;
	color: #000;
	margin: 0px 0 20px 0;
	line-height: 20px;
}

p.note {
	font-family: Georgia, Times, Serif;
	font-size: 11px;
	color: #000;
	margin-top: -11px;
	line-height: 15px;
}

p a {
	color: #000;
	text-decoration: none;	
	border-bottom: 2px solid #ffcb07;
}

p a:hover {
	color: #000;
	text-decoration: none;
	background: #ffcb07;
}

h1 {
	font-family: Helvetica, Arial, Verdana, Sans-Serif;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 100;
	letter-spacing: 1px;
	margin-bottom: 10px;
}

h2 {
	font-family: Helvetica, Arial, Verdana, Sans-Serif;
	text-transform: uppercase;
	font-size: 17px;
	font-weight: 100;
	letter-spacing: 1px;
	margin-bottom: 10px;
}

h2 a {
	color: #000;
	text-decoration: none;	
	border-bottom: 2px solid #ffcb07;
}

h2 a:hover {
	color: #000;
	text-decoration: none;
	background: #ffcb07;
}

h2.faq {
	font-family: Helvetica, Arial, Verdana, Sans-Serif;
	text-transform: uppercase;
	font-size: 17px;
	font-weight: 100;
	letter-spacing: 1px;
	margin-bottom: 10px;
	font-weight: bold;
}

h3 {
	font-family: Helvetica, Arial, Verdana, Sans-Serif;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 100;
	letter-spacing: 1px;
}


::selection {
background:#FFCB07;
color: #fff;
}
::-moz-selection {
background:#FFCB07;
color:#fff;
}
::-webkit-selection {
background:#FFCB07;
color:#fff;
}

.blockquote {
	font-family: Georgia, Times, Serif;
	font-style: italic;
	font-size: 22px;
	color: #000;
	margin: 0px 0 20px 0;
	line-height: 30px;
}

.food_list {
	float: left;
	width:660px;
	clear:both;
	height: auto;
	margin: 8px 15px 22px 0;
	border-left: 3px solid #FFCB07;
	padding-left: 7px;
	line-height: 1.5em;
}

.food_list ul{
	padding-left: 20px;
	list-style:disc; 
}

.kids-reg {
	
}

.kids-reg h2 {
	line-height:40px;
	text-align:center;
	width:330px;
	height:40px;
	background-color:#ffcb07;
	color:#000;
}

.kids-reg h2:hover {
	background-color: #fff;
}



/*~~~~~~~~~~~ Menu ~~~~~~~~~~~~~~*/

#menunav a {
	color:#fff;
	padding:5px;
	text-decoration: none;
	background: none;
}

#menunav a:hover {
	color:#000;
	text-decoration: none;
	background: #FFCB07;
}

body#easter a#homenav,
body#kids a#kidsnav,
body#travel a#travelnav,
body#volunteer a#volunteernav,
body#drive a#drivenav,
body#faq a#faqnav {
	color:#000;
	text-decoration: none;
	background: #FFCB07;
}

/* FOOTER */

.ascc {
	background-image: url('../images/ascc-logo.png');
	width: 150px;
	height:35px;
	margin: 4px;
	float:left;
}

.ascc:hover {
	opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

.twitter,
.facebook {
	width:30px;
	height:30px;
	float:right;
	margin:5px;
}

.twitter:hover,
.facebook:hover {
    border:3px solid #fff;
    margin:2px;
}

.twitter {
	background-image: url('../images/easter-tweet.jpg');
}

.facebook {
	background-image: url('../images/easter-fb.jpg');
}

.test-860 {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 860px;
	height: 200px;
	margin-top: -100px; /* Half the height */
	margin-left: -430px; /* Half the width */
	background:red;
	opacity: 0.3;
    filter: alpha(opacity=30);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}

.test-650 {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 650px;
	height: 200px;
	margin-top: -100px; /* Half the height */
	margin-left: -325px; /* Half the width */
	background:green;
	opacity: 0.3;
    filter: alpha(opacity=30);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}

.test-460 {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 460px;
	height: 200px;
	margin-top: -100px; /* Half the height */
	margin-left: -230px; /* Half the width */
	background:yellow;
	opacity: 0.3;
    filter: alpha(opacity=30);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}

video {
    width: 100%;
    height: auto;
  }