/* MAP INFO BOX
------------------------------------------------ */

.map_info {
	width:100%;
	height:50px;
	background: #000;
	padding:10px 0;
}

.map_info h2 {
	float:left;
	margin-right:30px;
}

.left_rule {
	border-left:1px solid #ffdd00;
	padding-left: 10px;
}

.map_button {
	float:right;
	background:#ffdd00;
	text-align: center;
	width:80px;
	height:22px;
}

.map_button p.caption {
	line-height: 23px;
}

.map_button:hover {
	opacity: 0.85;
	filter: alpha(opacity=85);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
}

.commitments {
	padding:20px;
	background-color: #fff;
	width:400px;
	height:auto;
}

.trip_commitments {
	padding:20px;
	background-color: #fff;
	width:560px;
	height:auto;
}

.trip_funds_due {
	padding:20px;
	background-color: #fff;
	width:300px;
	height:auto;
}


.class_categories, .trips_types {
	padding:20px;
	background-color: #fff;
	width:600px;
	height:auto;
}

.class_categories ul li p, .trips_types ul li p {
	font-size:11px;
	margin-bottom: 0;
}