@charset "utf-8";

/* 
html5doctor.com Reset Stylesheet
v1.4.1 
2010-03-01
Author: Richard Clark - http://richclarkdesign.com
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
    display:block;
}

ul, dl {
    list-style:none;
	width:100%;
}

a {
  text-decoration:none;
  }

html,body {margin:0;padding:0;} 

/* end reset */


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */



/*
Theme Name: The Austin Stone Community Church
Designer: The Austin Stone Community Church
Developers: The Austin Stone Community Church


Colors:

OLD tan:	#E7E6DD
NEW TAN		#dfded2  rgb(223, 222, 210)
blue:		#365871
yellow:		#FFDD00
grey:		#77787B
black:		#duh

*/


/*~~~~~~~~~~~ Generic Styles ~~~~~~~~~~~~~~*/

body
{
	background-color: #dfded2;
	color: #000;
}

p {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	line-height: 18px;
	margin: 0 0 15px 0;
	color: #000;
}




/*~~~~~~~~~~~~LINKS~~~~~~~~~~~~*/

a img {
	border: none;
	-webkit-transition: opacity .2s ease-in; /*safari and chrome */
 	-o-transition: opacity .2s ease-in; /* opera */
}

a img:hover {
	opacity: 0.70;
	filter: alpha(opacity=70);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

p a, ul.bullet a {
	color: #000;
	background-color: none;
	-webkit-transition: background-color .2s ease-in; /*safari and chrome */
 	-o-transition: background-color .2s ease-in; /* opera */
	text-decoration: none;
	border-bottom: 2px solid #ffdd00;
}

p a:hover, ul.bullet a:hover {
	color: #000;
	background-color: #ffdd00;
}

h4 a {
	color:#000;
	background-color: none;
	text-decoration: none;
}

h4 a:hover {
	background-color: none;
	border-bottom: 2px solid #ffdd00;
}

a h5 {
	color: #000;
	border: none;
	text-decoration: none;
}

a h5:hover {
	color: #000;
	border: none;
	text-decoration: none;
}

h5.drop a {
	font-size: 10px;
	text-decoration: none;
	color: #ffdd00;
}

h5.drop a:hover {
	font-size: 10px;
	text-decoration: none;
	color: #ffdd00;
}

.logo a {
	float: left;
	background-image: url('../images/logo.png');
	background-repeat: no-repeat;
	margin: 0 10px;
	width: 282px;
	height: 57px;
	text-indent: -9999px;
}

.logo a:hover {
	margin: 0 10px;
	width: 282px;
	height: 57px;
	text-indent: -9999px;
}

#menunav a {
	color:#000;
	margin: 0 8px;
	text-decoration: none;
	padding: 7px;
	border: none;
	-webkit-transition: background-color .2s ease-in; /*safari and chrome */
 	-o-transition: background-color .2s ease-in; /* opera */
}

#menunav a:hover {
	color:#000;
	text-decoration: none;
	background-color: #fff;
	padding: 7px;
	border: none;
}

ul.dropdown ul li a {
	float: left;
	text-align: left;
	width: 300px;
	text-transform: none;
	font-size: 14px;
	line-height: 10px;
	color: #365871;
}

ul.dropdown li:hover > ul {
	visibility: visible;
}

#drop a {
	color:#77787B;
	-webkit-transition: color .2s ease-in; /*safari and chrome */
 	-o-transition: color .2s ease-in; /* opera */
}

#drop a:hover {
	width: auto;
	/* background: #F2F1EA;*/
	background:none;
	color: #000;
}

a.new_here_top, a.give_top, .top_right#search, .map_drop#map_toggle {
	color:#ffdd00;
	background: none;
	border: none;
	-webkit-transition: color .2s ease-in; /*safari and chrome */
 	-o-transition: color .2s ease-in; /* opera */
}

a.new_here_top:hover, a.give_top:hover, .top_right#search:hover, .map_drop#map_toggle:hover {
	color:#fff;
	background: none;
	border: none;
}

a.hot_right, a.hot_left, a.hot_threecol, a.hot_fivecol_2, a.hot_new_here, a.staff_email, a.staff_blog {
	-webkit-transition: opacity .2s ease-in; /*safari and chrome */
 	-o-transition: opacity .2s ease-in; /* opera */
}

a.hot_right:hover, a.hot_left:hover, a.hot_threecol:hover, a.hot_fivecol_2:hover, a.hot_new_here:hover, a.staff_email:hover, a.staff_blog:hover {
	opacity: 0.70;
	filter: alpha(opacity=70);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}


/*~~~~~~~~~~~~LINKS~~~~~~~~~~~~*/





p.sans {
	font-family: "news-gothic-std-1","news-gothic-std-2", Arial Narrow, Arial, Helvetica, Verdana, sans-serif;
	font-size: 12px;
	line-height: 18px;
	margin: 0 0 15px 0;
	font-weight: 400;
}

p.caption {
	font-family: "news-gothic-std-1","news-gothic-std-2", Arial Narrow, Arial, Helvetica, Verdana, sans-serif;
	font-size: 10px;
	line-height: 10px;
	margin: 0 0 15px 0;
	color: #000;
	font-weight: 400;
}

img {
	z-index: -100;
}

h1 {
	font-family: "news-gothic-std-1","news-gothic-std-2", Arial Narrow, Arial, Helvetica, Verdana, sans-serif;
	font-size: 26px;
	line-height: 26px;
	margin: 0 0 15px 0;
	color: #fff;
	text-transform: uppercase;
	font-weight: normal;
}

h1.title {
	font-family: "news-gothic-std-1","news-gothic-std-2", Arial Narrow, Arial, Helvetica, Verdana, sans-serif;
	font-size: 26px;
	margin: 0 0 10px 0;
	color: #000;
	text-transform: uppercase;
	font-weight: 400;	
}

h1.serve {
	font-family: "news-gothic-std-1","news-gothic-std-2", Arial Narrow, Arial, Helvetica, Verdana, sans-serif;
	font-size: 26px;
	margin: 0;
	color: #FFDD00;
	text-transform: uppercase;
	font-weight: 400;	
}

h2 {
	font-family: "news-gothic-std-1","news-gothic-std-2", Arial Narrow, Arial, Helvetica, Verdana, sans-serif;
	font-size: 16px;
	line-height: 25px;
	margin: 0 0 13px 0;	
	color: #000;
	text-transform: uppercase;
	font-weight: 400;	
}

h2.jumbo {
	font-family: "alternate-gothic-no-1-d-1", "alternate-gothic-no-1-d-2", Arial Narrow, Arial, Helvetica, Verdana, sans-serif;
	font-size: 180px;
	color: #ffdd00;
	text-align: center;
	line-height: 180px;
}

h2.twenty {
	font-size: 20px;
	line-height: 30px;
	margin: 0 0 13px 0;
	text-transform: uppercase;
	font-weight: 400;
	color:#000;
}

h2.reap_book {
	font-family: "news-gothic-std-1","news-gothic-std-2", Arial Narrow, Arial, Helvetica, Verdana, sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #000;
	text-transform: none;
	font-weight: normal;
	margin-top: -5px;	
}

blockquote {
	font-family: Georgia, Times, serif;
	font-size: 18px;
	line-height: 27px;
	margin: 0 0 15px 0;
	color: #000;
	text-transform: none;
	font-weight: normal;
	font-style: italic;
}

h3 {
	font-family: "news-gothic-std-1","news-gothic-std-2", Arial Narrow, Arial, Helvetica, Verdana, sans-serif;
	font-size: 12px;
	line-height: 18px;
	margin: 0 0 10px 0;
	color: #77787B;
	text-transform: uppercase;
	font-weight: 400;
}

h3.reap_sub {
	font-family: "news-gothic-std-1","news-gothic-std-2", Arial Narrow, Arial, Helvetica, Verdana, sans-serif;
	font-size: 11px;
	margin: 0 0 -5px 0;
	color: #77787B;
	text-transform: none;
	font-weight: 400;
}

h3.month_partner {
	font-family: "news-gothic-std-1","news-gothic-std-2", Arial Narrow, Arial, Helvetica, Verdana, sans-serif;
	font-size: 26px;
	color: #000;
	letter-spacing: 4px;
	line-height: 20px;
	text-align: center;
	margin: -125px 0 90px 0;
}

h4 {
	font-family: "news-gothic-std-1","news-gothic-std-2", Arial Narrow, Arial, Helvetica, Verdana, sans-serif;
	font-size: 12px;
	line-height: 18px;
	margin: 0 0 15px 0;
	color: #000;
	font-weight: 400;
}

h5 {
	font-family: "news-gothic-std-1","news-gothic-std-2", Arial Narrow, Arial, Helvetica, Verdana, sans-serif;
	font-size: 10px;
	margin: 0 0 10px 0;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing:.1em;
}

h5.drop {
	font-family: "news-gothic-std-1","news-gothic-std-2", Arial Narrow, Arial, Helvetica, Verdana, sans-serif;
	font-size: 10px;
	margin: 0 0 10px 0;
	text-transform: uppercase;
	font-weight: normal;
}

ul.bullet {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	line-height: 18px;
	margin: 0 0 15px 0;
	color: #000;
	line-height: 18px;
	margin: 5px 0 0 12px;
	list-style-type: disc;
	width: auto;
}

ul.bullet li {
	margin-bottom: 9px;
}



::selection {
background:#ffdd00;
}
::-moz-selection {
background:#ffdd00;
color:#000;
}
::-webkit-selection {
background:#ffdd00;
color:#000;
}


/*~~~~~~~~~~~ Special Little Guys ~~~~~~~~~~~~~~*/

.rule_wh {
	width: 100%;
	float: left;
	height: 1px;
	border-bottom: 1px solid #fff;
	margin: 30px 0;
}

.rule_wh_short {
	width: 100%;
	float: left;
	height: 1px;
	border-bottom: 1px solid #fff;
	margin: 15px 0;
}

.rule_bl {
	width: 100%;
	float: left;
	height: 1px;
	border-bottom: 1px solid #000;
	margin: 30px 0;
}

.rule_partner {
	width: 100%;
	float: left;
	height: 1px;
	border-bottom: 1px solid #365871;
}

.rule_menu {
	width: 328px;
	float: left;
	height: 1px;
	border-bottom: 1px solid #365871;
	margin: 25px 0 15px 15px;
}

.nomar {
margin:0;
}

.nocap {
	text-transform: none;
}

.caps {
	text-transform: uppercase;
}

.blue {
	color:#365871; 
}

.white {
	color:#fff;
}

.yellow {
	color:#ffdd00;
}

.grey {
	color: #77787B;
}

.black {
	color: #000;
}



/*~~~~~~~~~~~ Main ~~~~~~~~~~~~~~*/

.container {
    width:960px;
    height:auto;
    margin:0px auto;
    padding:0px;
    clear:both;
}

.map_drop {
	float:left;
	width: auto;
	margin: 7px 10px 0 10px;
}

.top_right {
	float: right;
	width: auto;
	margin: 7px 0 0 0;
}

.logo {
	float: left;
}

.top {
	float: left;
	width: 100%;
	height: 25px;
	background-color: #000;
	color: #ffdd00;
	margin: 0 auto;
}

.image_main {
	width: 100%;
	height: 360px;
	margin-top: 30px;
	background-color: #999;
	background-image: url('../images/insta_home.png');
	background-position: center center;
	background-repeat: no-repeat;
}




/*~~~~~~~~~~~ Menu ~~~~~~~~~~~~~~*/

#menu {
	position: relative;
	float: right;
	font-family: "news-gothic-std-1","news-gothic-std-2", Arial Narrow, Arial, Helvetica, Verdana, sans-serif;
	margin-top: 28px;
}

ul#menunav {
	font-size: 14px;
	list-style-type:none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	display: inline;
}

li.menunav {
	/*display: inline;*/
}

body#home a#homenav,
body#about a#aboutnav,
body#connect a#connectnav,
body#resources a#resourcesnav,
body#stories a#storiesnav {
color: #000;
background-color: #ffdd00;
padding: 7px; 
}


/*ul.dropdown,
ul.dropdown li,
ul.dropdown ul {
 list-style: none;
}*/

/*ul.dropdown {
 position: relative;
 z-index: 597;
 float: left;
 width:auto;
}*/

ul.dropdown li {
float: left;
display: inline;
}

/*ul.dropdown li.hover, ul.dropdown li:hover {
 z-index: 599;
}*/

ul.dropdown ul {
 visibility: hidden;
 position: absolute;
 left: 8px;
 top: 25px;
 width: 359px;
 height:270px;
 z-index: 598;
 background: rgb(255, 255, 255); /* The Fallback */
 background: rgba(255, 255, 255, 0.9);
 padding: 0;
}



#drop {
padding:0;
}







/*~~~~~~~~~~~ Columns ~~~~~~~~~~~~~~*/
.onecol {
	width: 940px;
	height: auto;
	float: left;
	margin: 0 10px;	
}

.twocol {
	width: 460px;
	height: auto;
	float: left;
	margin: 0 10px;
}

.threecol {
	width: 300px;
	height: auto;
	float: left;
	margin: 0 10px;	
}

.threecol_2 {
	width: 620px;
	height: auto;
	float: left;
	margin: 0 10px;	
}

.fourcol {
	width: 220px;
	height: auto;
	float: left;
	margin: 0 10px;	
}

.fourcol_3 {
	width: 700px;
	height: auto;
	float: left;
	margin: 0 10px;	
}

.fivecol {
	width: 172px;
	height: auto;
	float: left;
	margin: 0 10px;	
}

.fivecol_nomar {
	width: 172px;
	height: auto;
	float: left;
	margin: 0;	
}

.fivecol_2 {
	width: 364px;
	height: auto;
	float: left;
	margin: 0 10px;	
}

.fivecol_2_kstr {
	width: 324px;
	height: auto;
	float: left;
	margin: 0;
	background:#77787B;
	padding: 20px; 	
}

.fivecol_3 {
	width: 556px;
	height: auto;
	float: left;
	margin: 0 10px;	
}

.fivecol_4 {
	width: 748px;
	height: auto;
	float: left;
	margin: 0 10px;	
}

.sixcol {
	width: 140px;
	height: auto;
	float: left;
	margin: 0 10px;
}





/*!~~~~~~~~~~~styles~~~~~~~~~~~~~*/
.home_sermon {
	float: left;
	width: 340px;
	height: auto;
	margin: 20px 10px 0 10px;
	padding: 10px;
	background: rgb(255, 221, 0); /* The Fallback */
	background: rgba(255, 221, 0, 0.9);
}

.home_hap {
	float: left;
	width: 340px;
	height: auto;
	margin: 10px 10px 0 10px;
	padding: 10px;
	background-color: #fff;
	background: rgb(255, 255, 255); /* The Fallback */
	background: rgba(255, 255, 255, 0.9);	
}

.bump {
	width: 100%;
	height: 30px;
}

.bumpbump {
	width: 100%;
	height: 45px;
}

.hot_left {
	float: left;
	width: 210px;
	height: 42px;
	background-image: url('../images/big_arrow_y.png');
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: 180px 7px;
	margin: 0 10px 20px 0;
	padding: 0 0 0 10px;	
	line-height: 42px;
}

.hot_right {
	float: left;
	width: 210px;
	height: 42px;
	background-image: url('../images/big_arrow_y.png');
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: 180px 7px;
	margin: 0 0 10px 10px;
	padding: 0 0 0 10px;
	line-height: 42px;
}

.hot_right h2, .hot_left h2, .hot_threecol h2 {
	color: #365871;
	line-height: 42px;
}

.hot_threecol {
	float: left;
	width: 290px;
	height: 42px;
	background-image: url('../images/big_arrow_y.png');
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: 260px 7px;
	margin: 0 10px 0 0;
	padding: 0 0 0 10px;	
	line-height: 42px;
}

.hot_fivecol_2 {
	float: left;
	width: 324px;
	height: 22px;
	background-color: #fff;
	padding: 20px;
}

.hot_fivecol_2 h2 {
	color:#365871;
	font-size: 19px;
	float: left;
}




/*!~~~~~~~~~~~About~~~~~~~~~~~~~*/
.partner_class {
	width: 300px;
	height: auto;
	background-color: #fff;
	float: right;
	padding: 10px 0;	
}

.parking_button {
	float:right;
	background:#ffdd00;
	text-align: center;
	width:80px;
	height:22px;
}

.parking_button p.caption {
	line-height: 23px;
}

.kstr_left {
	float: left;
	width:146px;
	height: auto;
	border-right: 1px solid #fff;
	padding-right: 10px;	
}

.kstr_right {
	float: right;
	width: 146px;
	height: auto;
	margin-left: 20px;
}

.give_online {
	float: left;
	width: 120px;
	height: 28px;
	line-height: 28px;
	background-image: url('../images/arrow_link.png');
	background-color: #ffdd00;
	background-repeat: no-repeat;
	background-position: 110px 6px;	
	padding: 4px 10px 0 10px;
	margin: -4px 0 10px 0;
}



/*!~~~~~~~~~~~Staff~~~~~~~~~~~~~*/
.fivecol_staff {
	width: 172px;
	height: 415px;
	float: left;
	margin: 0 10px 20px 10px;	
}

.fivecol_staff h3 {
	height:30px;
}

.fivecol_min {
	width: 172px;
	height: 305px;
	float: left;
	margin: 0 10px 20px 10px;	
}

.fivecol_min h3 {
	height:30px;
}

.staff_photo {
	float: right;
	z-index: -999;
}

.staff_photo img {

}

.staff_sub {
	margin: -38px 10px 0 0;
	float: right;
	z-index: 999;

}

.staff_bio, .staff_blog, .staff_email, .staff_twitter {
	/*text-indent: -9999px;*/
	float: right;
	height:20px;
	background-color: #ffdd00;
	line-height: 22px;
	padding: 0 3px;
	margin-left: 4px;
	text-align: center;
}

.staff_email {
	text-indent: -9999px;
	background-image: url('../images/staff_email.png');
	width: 15px;
	background-repeat: no-repeat;
}

.staff_twitter {
	text-indent: -9999px;
	background-image: url('../images/staff_twitter.png');
	width: 15px;
	background-repeat: no-repeat;
}

.staff_category {
	text-align: center;
	float: left;
	width:172px;
	z-index: 999;
	margin: -102px 0 0 0;
}

.staff_cat_top {
	float:left;
	width:172px;
	background:#fff;
	height:20px;
	text-align:center;
}



/*!~~~~~~~~~~~Reap~~~~~~~~~~~~~*/
.reap_top {
	float: left;
	text-align: right;
	width: 605px;
	height: 38px;
	padding: 5px 15px 5px 0;
	background: #ffdd00;
}

.reap {
	float:left;
	width:140px;
	height: auto;
	background-image: url('../images/big_arrow_w.png'); background-repeat: no-repeat; background-position: 110px 50%;
	padding-top: 20px;
	height:auto;
}

.reap_scripture p {
	font-size: 14px;
	line-height: 21px;
	margin: 0 0 15px 0;
}

.reap:hover {
	background-image: url('../images/big_arrow_y.png'); background-repeat: no-repeat; background-position: 111px 50%;
	height: auto;
}

.reap_current {
	background-image: url('../images/big_arrow_y.png'); background-repeat: no-repeat; background-position: 111px 50%;
	border-right: 5px solid #ffdd00;
	padding-right: 15px;
	height: auto;
}

.reap_verse {
	float: left;
	width: 105px;
}

.reap_rule {
	width: 140px;
	height:auto;
	border-bottom: 1px solid #fff;
	padding: 0px:
	margin: 0px;
}

.reap_scripture {
	width: 400px;
	background: #fff;
	height: auto;
	float: left;
	margin: 0 10px;
	padding: 20px 30px 40px 30px
}

table 
{
	font-family: "news-gothic-std-1","news-gothic-std-2", Arial Narrow, Arial, Helvetica, Verdana, sans-serif;
	font-size: 12px;
	line-height: 18px;
	margin: 0 0 15px 0;
	color: #000;
	font-weight: 400;
	float: right;
	border: none;
	text-align: right;
}
th
{
	height:auto;
}
td
{
	width:100px;
	vertical-align: top;
	padding: 10px;
}

td.day {
	text-align: right;
}

tr {
	float: right;
}

tr.alt_day {
	background: #dad9cc;
}



/*!~~~~~~~~~~~Footer~~~~~~~~~~~~~*/

.twitter {
	width:100%;
	float:left;
	background-color:#ffdd00;
	height: 35px;

}

.twitter h4 {
	color: #000;
	text-transform: none;
	font-size: 12px;
	font-weight: 400;
	line-height: 35px; 
}

.footer {
	width: 100%;
	height:auto;
	background-color: #fff;
}

.texas {
	width: 222px;
	height: 24px;
	margin: 30px auto 0 auto;
	text-indent: -9999px;
	background-image: url('../images/texas.png');	 
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!! >8-O !!!!!!!!!!!!!!!!!!!!!!!!!!*/

pre {
	line-height:1.5em !important;
	margin:0 0 0;
	width: auto;
	overflow:hidden;
	clear:both;
	padding-bottom: 10px;
}


small {
	display:block;
	font-size:.9em;
	margin:0 0 0;	
}

.expand { margin:0 0 21px;position:relative;}
.expand pre { margin:9px 0; }
.expand h4 {  font-size:1.1em; }
.expand .content { display:none; overflow:hidden; }
.expand .content .inner { margin:1px 0; display:none; }
.expand p { margin:0; }
.expand small { color:; }
#content .expand small {
	position:static;
}

.expand h5 {
	font-size:1.1em;
	padding:0 0 0;
}

strong {
	font-weight:bold;
}


