@charset "utf-8";

/* 
html5doctor.com Reset Stylesheet
v1.4.1 
2010-03-01
Author: Richard Clark - http://richclarkdesign.com
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
    display:block;
}

ul, dl {
    list-style:none;
	width:100%;
}

a {
  text-decoration:none;
  background: none;
  }

html,body {margin:0;padding:0;} 

/* end reset */


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */



/*
Theme Name: The Austin Stone - Willow Creek Global Leadership Summit
Designer: The Austin Stone Community Church
Developers: The Austin Stone Community Church


Colors:

background-grey:	#303030
blue	:			#1E96D3

*/




/*~~~~~~~~~~~ Generic Styles ~~~~~~~~~~~~~~*/

body	{
	background-color: #303030;
}

p	{
	font-family: Georgia, Times, serif;
	font-size: 14px;
	color: #fff;
	line-height: 21px;
	margin: 0 0 21px 0;
}


a {
	color: #1E96D3;
	-webkit-transition: color .3s ease-in; /*safari and chrome */
 	-o-transition: color .3s ease-in; /* opera */
	text-decoration: none;
	border-bottom: 2px solid #1E96D3;
}

a:hover {
	color: #fff;
}


::selection {
background:#1E96D3;
color: #fff;
}
::-moz-selection {
background:#1E96D3;
color:#fff;
}
::-webkit-selection {
background:#1E96D3;
color:#fff;
}




/*~~~~~~~~~~~ Main ~~~~~~~~~~~~~~*/

.container {
	height: auto;
	width: 700px;
	margin: 50px 0 200px 100px;
}

.top {
	border-top: 10px solid #1E96D3;
	position: fixed;
	top: 0;
	left: 0;
	width:100%;
	-webkit-transition-property: opacity, left;
  -webkit-transition-duration: 2s, 4s;}

.logo {
	float: left;
	width: 550px;
	height: 186px;
	background-image: url('../images/gls/logo.png');
	text-indent: -9999px;
}

.main {
	float: left;
	width: 561px;
	margin: 60px 0 30px 0;
}

.details {
	float: left;
	width: 107px;
	margin: 60px 0 0 30px;
	height: 191px;
	background-image: url('../images/gls/details.png');
	text-indent: -9999px;
}

.left {
	float: left;
	width: 208px;
}

.more {
	float: left;
}

.more a:hover {
	opacity: 0.9;
	filter: alpha(opacity=90);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}


.code {
	float: left;
	margin-top: 25px;
}

.map {
	float: left;
	margin-left: 30px;
}

.stone {
	margin: 40px 0 0 182px;
}





